In [118]:
import pandas as pd
import numpy as np
%matplotlib inline

In [119]:
pd.options.display.max_columns= 100

In [120]:
wac = pd.read_csv('../Raw_Inputs/LEHD/ky_wac_S000_JT00_2019.csv')

In [122]:
geo_xwalk = pd.read_csv('../Raw_Inputs/LEHD/ky_xwalk.csv', low_memory=False)

In [110]:
wac_geo = wac.merge(geo_xwalk, how="left", left_on='w_geocode', right_on='tabblk2020')

In [111]:
wac_geo_grouped = wac_geo.groupby(by = 'trct', as_index = False).sum()

In [112]:
wac_geo_grouped['FOOD_EMP'] = wac_geo_grouped['CNS18']

In [113]:
wac_geo_grouped['RETAIL_EMP'] = wac_geo_grouped['CNS07']

In [114]:
wac_geo_grouped['OTHER_EMP'] = wac_geo_grouped['CNS01'] + wac_geo_grouped['CNS02'] + wac_geo_grouped['CNS03'] + wac_geo_grouped['CNS04'] + wac_geo_grouped['CNS05'] + wac_geo_grouped['CNS06'] + wac_geo_grouped['CNS08'] + wac_geo_grouped['CNS09'] + wac_geo_grouped['CNS10'] + wac_geo_grouped['CNS11'] + wac_geo_grouped['CNS12'] + wac_geo_grouped['CNS13'] + wac_geo_grouped['CNS14'] + wac_geo_grouped['CNS15'] + wac_geo_grouped['CNS16'] + wac_geo_grouped['CNS17'] + wac_geo_grouped['CNS19'] + wac_geo_grouped['CNS20']

In [115]:
wac_geo_grouped['TOTAL_EMP_DEN'] = wac_geo_grouped['C000'] / 283.9

In [116]:
wac_geo_grouped = wac_geo_grouped[['trct', 'FOOD_EMP', 'RETAIL_EMP', 'OTHER_EMP', 'TOTAL_EMP_DEN']]

In [117]:
wac_geo_grouped.head()

          trct  FOOD_EMP  RETAIL_EMP  OTHER_EMP  TOTAL_EMP_DEN
0  21001970100         0           5         17       0.077492
1  21001970200         2           2        144       0.521310
2  21001970300         3          17        100       0.422684
3  21001970401       300         592       1603       8.788306
4  21001970402       100         115       1328       5.435012

In [77]:
wac_geo_grouped.to_csv('../Cleaned_Inputs/Intermediate/wac.csv')