In [19]:
import pandas as pd
import numpy as np

In [20]:
# show every column when displaying data
pd.options.display.max_columns= 1000

In [21]:
d_matrix = pd.read_csv('E:/CR2/Repos/TNC-Demand-Model-Southeast/OTP/Car Travel Times/20190605/traveltime_matrix_/traveltime.csv')

In [22]:
# convert car travel time from seconds to minutes
d_matrix['travel_time'] /= 60

In [23]:
d_matrix.head()

       year depart_time       origin  destination  walk_distance  travel_time
0  20190605    1:522:00  21067000101  21067000101           48.0     0.600000
1  20190605    1:522:00  21067000101  21067000102           55.0     6.233333
2  20190605    1:522:00  21067000101  21067000200           77.0    10.383333
3  20190605    1:522:00  21067000101  21067000400           40.0     8.950000
4  20190605    1:522:00  21067000101  21067000500            NaN     7.533333