In [261]:
### Load libraries
import pandas as pd
import numpy as np
import os

In [264]:
## Set working directory
os.chdir('E:/CR2/Repos/TNC-Demand-Model-Southeast/')

In [265]:
## Read in Dropoff Data
dropoffs = pd.read_csv('E:/CR2/Repos/TNC-Demand-Model-Southeast/Cleaned_Inputs/Intermediate/merged_fayette_data.csv')
dropoffs.head()

,Unnamed: 0,GEOID,MEDIAN_AGE,LOW_INC_0,HI_INC_0,LOW_INC_1P,HI_INC_1P,P_BACH_25P,FOOD_EMP,RETAIL_EMP,OTHER_EMP,TOTAL_EMP_DEN,LOGSUM,AIR_F,TOR_F
0,0,21067000101,31.0,520.0,0.0,1290.0,189.0,32.675045,1465,264,8581,20501.093657,0,0,0
1,1,21067000102,52.4,290.0,10.0,609.0,154.0,53.358925,569,48,1556,7136.288998,0,0,0
2,2,21067000200,24.1,430.0,0.0,674.0,125.0,42.355890,143,120,1032,2132.740448,0,0,0
3,3,21067000300,36.8,410.0,0.0,860.0,70.0,45.487365,9,50,119,425.735470,0,0,0
4,4,21067000400,32.8,180.0,0.0,587.0,19.0,30.097087,23,38,841,1970.292704,0,0,0

In [267]:
## Calculate Linear Model for Dropoffs
## Coefficients from Table 5.4
dropoffs['NT_PRED_DROPOFFS'] = 545*dropoffs['AIR_F'] + 0.07*dropoffs['FOOD_EMP'] + 0.00*dropoffs['OTHER_EMP'] + 0.28*dropoffs['HI_INC_0'] +  0.02*dropoffs['LOW_INC_0'] + 0.02*dropoffs['LOW_INC_1P'] + 0.00000454*dropoffs['HI_INC_1P']
dropoffs['AM_PRED_DROPOFFS'] = 616*dropoffs['AIR_F'] + 0.04*dropoffs['FOOD_EMP'] + 0.02*dropoffs['RETAIL_EMP'] + 0.001*dropoffs['OTHER_EMP'] + 0.29*dropoffs['HI_INC_0'] + 0.0000102*dropoffs['HI_INC_1P']
dropoffs['MD_PRED_DROPOFFS'] = 1501*dropoffs['AIR_F'] + 77*dropoffs["TOR_F"] + 0.20*dropoffs['FOOD_EMP'] + 0.08*dropoffs['RETAIL_EMP'] + 0.01*dropoffs['OTHER_EMP'] + 0.51*dropoffs['HI_INC_0'] + 0.01*dropoffs['LOW_INC_0'] + 0.01*dropoffs['LOW_INC_1P'] + 0.0000313*dropoffs['HI_INC_1P']
dropoffs['PM_PRED_DROPOFFS'] = 308*dropoffs['AIR_F'] + 56*dropoffs["TOR_F"] + 0.17*dropoffs['FOOD_EMP'] + 0.001*dropoffs['RETAIL_EMP'] + 0.00*dropoffs['OTHER_EMP'] + 0.4*dropoffs['HI_INC_0'] + 0.02*dropoffs['LOW_INC_0'] + 0.01*dropoffs['LOW_INC_1P'] + 0.00000658*dropoffs['HI_INC_1P']
dropoffs['EV_PRED_DROPOFFS'] = 62*dropoffs["TOR_F"] + 0.12*dropoffs['FOOD_EMP'] + 0.47*dropoffs['HI_INC_0'] + 0.02*dropoffs['LOW_INC_0'] + 0.02*dropoffs['LOW_INC_1P'] + 0.00000694*dropoffs['HI_INC_1P']

In [263]:
## Read in utitlity/probability/logsum data
logsum = pd.read_csv('Cleaned_Inputs/Intermediate/mode_choice_utility_output.csv')
logsum = logsum[['origin', 'destination', 'distance_miles', 'mode_logsum_airport', 'mode_logsum_no_airport']]
logsum.head()

,origin,destination,distance_miles,mode_logsum_airport,mode_logsum_no_airport
0,21067003802,21067004007,20.158829,-0.000000,-8.175461
1,21067004007,21067003802,24.871705,-0.000000,-8.254882
2,21067004007,21067003701,22.877503,-0.000000,-8.618743
3,21067003701,21067004007,22.608280,-0.000000,-8.351601
4,21067004207,21067003918,19.840966,-7.539189,0.000000

In [260]:
### Read in pickups data
pickups = pd.read_csv('Cleaned_Inputs/Intermediate/fayette_estimated_pickups.csv')
pickups.head()

,Unnamed: 0,origin,AM_PRED_PICKUPS,NT_PRED_PICKUPS,MD_PRED_PICKUPS,PM_PRED_PICKUPS,EV_PRED_PICKUPS,PRED_PICKUPS
0,0,21067000101,115.549482,200.85,365.444593,275.623100,305.226973,1262.694147
1,1,21067000102,51.240226,79.87,131.453742,93.462526,119.158567,475.185060
2,2,21067000200,31.729946,27.19,66.553038,41.892050,39.597918,206.962951
3,3,21067000300,26.862281,9.37,35.541701,16.881148,14.645182,103.300312
4,4,21067000400,17.330322,6.59,31.660462,20.130312,14.106015,89.817110

In [248]:
### Merge utility and dropoffs data together
df = pd.merge(logsum, dropoffs, left_on = ['destination'], right_on = ['DESTINATION'])
df = df.drop(columns=['DESTINATION'])
df.head()

,origin,destination,distance_miles,mode_logsum_airport,mode_logsum_no_airport,Unnamed: 0,AM_PRED_DROPOFFS,NT_PRED_DROPOFFS,MD_PRED_DROPOFFS,PM_PRED_DROPOFFS,EV_PRED_DROPOFFS,PRED_DROPOFFS
0,21067003802,21067004007,20.158829,-0.000000,-8.175461,70,10.156298,0.46,16.875322,10.503592,5.736477,43.731688
1,21067004007,21067003802,24.871705,-0.000000,-8.254882,51,27.992108,43.68,81.575589,61.663772,70.356776,285.268245
2,21067004007,21067003701,22.877503,-0.000000,-8.618743,47,14.424496,21.45,47.424738,37.533198,36.925220,157.757652
3,21067003701,21067004007,22.608280,-0.000000,-8.351601,70,10.156298,0.46,16.875322,10.503592,5.736477,43.731688
4,21067004207,21067003918,19.840966,-7.539189,0.000000,65,18.540740,12.92,66.190935,54.937380,33.631257,186.220312

In [249]:
### Add dummy variables for different flaggers
df['tourist'] = 0
df['airport'] = np.where(df['destination'] == 21067004207, 1, 0)
df['internal'] = np.where(df['origin'] == df['destination'], 1, 0)
df.head(10)

,origin,destination,distance_miles,mode_logsum_airport,mode_logsum_no_airport,Unnamed: 0,AM_PRED_DROPOFFS,NT_PRED_DROPOFFS,MD_PRED_DROPOFFS,PM_PRED_DROPOFFS,EV_PRED_DROPOFFS,PRED_DROPOFFS,tourist,airport,internal
0,21067003802,21067004007,20.158829,-0.000000,-8.175461,70,10.156298,0.46,16.875322,10.503592,5.736477,43.731688,0,0,0
1,21067004007,21067003802,24.871705,-0.000000,-8.254882,51,27.992108,43.68,81.575589,61.663772,70.356776,285.268245,0,0,0
2,21067004007,21067003701,22.877503,-0.000000,-8.618743,47,14.424496,21.45,47.424738,37.533198,36.925220,157.757652,0,0,0
3,21067003701,21067004007,22.608280,-0.000000,-8.351601,70,10.156298,0.46,16.875322,10.503592,5.736477,43.731688,0,0,0
4,21067004207,21067003918,19.840966,-7.539189,0.000000,65,18.540740,12.92,66.190935,54.937380,33.631257,186.220312,0,0,0
5,21067003918,21067004207,18.640822,-7.742272,0.000000,78,153.457821,285.09,977.060169,253.183612,519.711922,2188.503524,0,1,0
6,21067003703,21067004007,24.226410,-0.000000,-7.947565,70,10.156298,0.46,16.875322,10.503592,5.736477,43.731688,0,0,0
7,21067004007,21067003703,24.727255,-0.000000,-8.085538,49,30.569352,1.77,58.563487,42.989102,24.303325,158.195266,0,0,0
8,21067003802,21067004006,17.095971,-0.000000,-7.619520,69,2.512757,0.00,3.446804,2.194592,1.507869,9.662022,0,0,0
9,21067004006,21067003802,16.969217,-0.000000,-7.574434,51,27.992108,43.68,81.575589,61.663772,70.356776,285.268245,0,0,0

In [ ]:
### Trip Distribution (Linear Model)

In [237]:
### Destination Choice Utility 
#df['UTILITY'] = np.log(df['PRED_DROPOFFS']) - 0.07*df['internal'] + 0.49*df['tourist'] - 2.49*df['airport'] + 0.85*df['LOGSUM']
#df.head()
### Coefficients from Table 5.5
df['NT_UTILITY'] = np.log(df['NT_PRED_DROPOFFS']) - 0.07*df['internal'] + 0.49*df['tourist'] - 2.81*df['airport'] + 0*df['mode_logsum_airport'] + 1*df['mode_logsum_no_airport']
df['AM_UTILITY'] = np.log(df['AM_PRED_DROPOFFS']) - 0.8*df['internal'] + 0.47*df['tourist'] - 2.53*df['airport'] + 0.15*df['mode_logsum_airport'] + 0.85*df['mode_logsum_no_airport']
df['MD_UTILITY'] = np.log(df['MD_PRED_DROPOFFS']) - 1.22*df['internal'] + 0.48*df['tourist'] - 3.19*df['airport'] + 0.08*df['mode_logsum_airport'] + 0.96*df['mode_logsum_no_airport']
df['PM_UTILITY'] = np.log(df['PM_PRED_DROPOFFS']) - 1.20*df['internal'] + 0.23*df['tourist'] - 2.30*df['airport'] + 0.12*df['mode_logsum_airport'] + 1*df['mode_logsum_no_airport']
df['EV_UTILITY'] = np.log(df['EV_PRED_DROPOFFS']) - 1.06*df['internal'] + 0.3*df['tourist'] - 2.53*df['airport'] + 0.16*df['mode_logsum_airport'] + 0.91*df['mode_logsum_no_airport']
df.head()

C:\Users\Transportlab\anaconda3\envs\cr2\Lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

,origin,destination,distance_miles,mode_logsum_airport,mode_logsum_no_airport,Unnamed: 0,AM_PRED_DROPOFFS,NT_PRED_DROPOFFS,MD_PRED_DROPOFFS,PM_PRED_DROPOFFS,EV_PRED_DROPOFFS,PRED_DROPOFFS,tourist,airport,internal,NT_UTILITY,AM_UTILITY,MD_UTILITY,PM_UTILITY,EV_UTILITY
0,21067003802,21067004007,20.158829,-0.000000,-8.175461,70,10.156298,0.46,16.875322,10.503592,5.736477,43.731688,0,0,0,-8.951990,-4.631048,-5.022590,-5.823744,-5.692824
1,21067004007,21067003802,24.871705,-0.000000,-8.254882,51,27.992108,43.68,81.575589,61.663772,70.356776,285.268245,0,0,0,-4.477992,-3.684727,-3.523157,-4.133185,-3.258364
2,21067004007,21067003701,22.877503,-0.000000,-8.618743,47,14.424496,21.45,47.424738,37.533198,36.925220,157.757652,0,0,0,-5.553018,-4.657003,-4.414849,-4.993517,-4.234161
3,21067003701,21067004007,22.608280,-0.000000,-8.351601,70,10.156298,0.46,16.875322,10.503592,5.736477,43.731688,0,0,0,-9.128130,-4.780767,-5.191685,-5.999884,-5.853112
4,21067004207,21067003918,19.840966,-7.539189,0.000000,65,18.540740,12.92,66.190935,54.937380,33.631257,186.220312,0,0,0,2.558776,1.789092,3.589408,3.101491,2.309186

In [238]:
time_of_day = ['NT', 'AM', 'MD', 'PM', 'EV']
for time in time_of_day:
    df[time + '_EXP_UTILITY'] = np.exp(df[time + '_UTILITY'])
df.head()

,origin,destination,distance_miles,mode_logsum_airport,mode_logsum_no_airport,Unnamed: 0,AM_PRED_DROPOFFS,NT_PRED_DROPOFFS,MD_PRED_DROPOFFS,PM_PRED_DROPOFFS,...,NT_UTILITY,AM_UTILITY,MD_UTILITY,PM_UTILITY,EV_UTILITY,NT_EXP_UTILITY,AM_EXP_UTILITY,MD_EXP_UTILITY,PM_EXP_UTILITY,EV_EXP_UTILITY
0,21067003802,21067004007,20.158829,-0.000000,-8.175461,70,10.156298,0.46,16.875322,10.503592,...,-8.951990,-4.631048,-5.022590,-5.823744,-5.692824,0.000129,0.009745,0.006587,0.002957,0.003370
1,21067004007,21067003802,24.871705,-0.000000,-8.254882,51,27.992108,43.68,81.575589,61.663772,...,-4.477992,-3.684727,-3.523157,-4.133185,-3.258364,0.011356,0.025104,0.029506,0.016032,0.038451
2,21067004007,21067003701,22.877503,-0.000000,-8.618743,47,14.424496,21.45,47.424738,37.533198,...,-5.553018,-4.657003,-4.414849,-4.993517,-4.234161,0.003876,0.009495,0.012096,0.006782,0.014492
3,21067003701,21067004007,22.608280,-0.000000,-8.351601,70,10.156298,0.46,16.875322,10.503592,...,-9.128130,-4.780767,-5.191685,-5.999884,-5.853112,0.000109,0.008390,0.005563,0.002479,0.002871
4,21067004207,21067003918,19.840966,-7.539189,0.000000,65,18.540740,12.92,66.190935,54.937380,...,2.558776,1.789092,3.589408,3.101491,2.309186,12.920000,5.984017,36.212645,22.231079,10.066223

In [239]:
## Get sums of utilities by TOD
df["EXP_UTILITY_SUM"] =  df["NT_EXP_UTILITY"] + df["AM_EXP_UTILITY"] + df["MD_EXP_UTILITY"] + df["PM_EXP_UTILITY"] + df["EV_EXP_UTILITY"]
df.head()

,origin,destination,distance_miles,mode_logsum_airport,mode_logsum_no_airport,Unnamed: 0,AM_PRED_DROPOFFS,NT_PRED_DROPOFFS,MD_PRED_DROPOFFS,PM_PRED_DROPOFFS,...,AM_UTILITY,MD_UTILITY,PM_UTILITY,EV_UTILITY,NT_EXP_UTILITY,AM_EXP_UTILITY,MD_EXP_UTILITY,PM_EXP_UTILITY,EV_EXP_UTILITY,EXP_UTILITY_SUM
0,21067003802,21067004007,20.158829,-0.000000,-8.175461,70,10.156298,0.46,16.875322,10.503592,...,-4.631048,-5.022590,-5.823744,-5.692824,0.000129,0.009745,0.006587,0.002957,0.003370,0.022788
1,21067004007,21067003802,24.871705,-0.000000,-8.254882,51,27.992108,43.68,81.575589,61.663772,...,-3.684727,-3.523157,-4.133185,-3.258364,0.011356,0.025104,0.029506,0.016032,0.038451,0.120449
2,21067004007,21067003701,22.877503,-0.000000,-8.618743,47,14.424496,21.45,47.424738,37.533198,...,-4.657003,-4.414849,-4.993517,-4.234161,0.003876,0.009495,0.012096,0.006782,0.014492,0.046741
3,21067003701,21067004007,22.608280,-0.000000,-8.351601,70,10.156298,0.46,16.875322,10.503592,...,-4.780767,-5.191685,-5.999884,-5.853112,0.000109,0.008390,0.005563,0.002479,0.002871,0.019411
4,21067004207,21067003918,19.840966,-7.539189,0.000000,65,18.540740,12.92,66.190935,54.937380,...,1.789092,3.589408,3.101491,2.309186,12.920000,5.984017,36.212645,22.231079,10.066223,87.413964

In [241]:
## Get probabilities
for time in time_of_day:
    df[time + "_PROB"] = df[time + "_EXP_UTILITY"] / df["EXP_UTILITY_SUM"]
df["PROB_SUM"] =  df["NT_PROB"] + df["AM_PROB"] + df["MD_PROB"] + df["PM_PROB"] + df["EV_PROB"]
df.head()

,origin,destination,distance_miles,mode_logsum_airport,mode_logsum_no_airport,Unnamed: 0,AM_PRED_DROPOFFS,NT_PRED_DROPOFFS,MD_PRED_DROPOFFS,PM_PRED_DROPOFFS,...,MD_EXP_UTILITY,PM_EXP_UTILITY,EV_EXP_UTILITY,EXP_UTILITY_SUM,NT_PROB,AM_PROB,MD_PROB,PM_PROB,EV_PROB,PROB_SUM
0,21067003802,21067004007,20.158829,-0.000000,-8.175461,70,10.156298,0.46,16.875322,10.503592,...,0.006587,0.002957,0.003370,0.022788,0.005682,0.427617,0.289074,0.129740,0.147887,1.0
1,21067004007,21067003802,24.871705,-0.000000,-8.254882,51,27.992108,43.68,81.575589,61.663772,...,0.029506,0.016032,0.038451,0.120449,0.094282,0.208420,0.244967,0.133099,0.319232,1.0
2,21067004007,21067003701,22.877503,-0.000000,-8.618743,47,14.424496,21.45,47.424738,37.533198,...,0.012096,0.006782,0.014492,0.046741,0.082920,0.203139,0.258797,0.145093,0.310050,1.0
3,21067003701,21067004007,22.608280,-0.000000,-8.351601,70,10.156298,0.46,16.875322,10.503592,...,0.005563,0.002479,0.002871,0.019411,0.005593,0.432212,0.286575,0.127715,0.147905,1.0
4,21067004207,21067003918,19.840966,-7.539189,0.000000,65,18.540740,12.92,66.190935,54.937380,...,36.212645,22.231079,10.066223,87.413964,0.147802,0.068456,0.414266,0.254320,0.115156,1.0

In [243]:
#### Apply Probabilities
dest_choice = df[["origin", "destination", "NT_PRED_DROPOFFS", "AM_PRED_DROPOFFS", "MD_PRED_DROPOFFS", "PM_PRED_DROPOFFS", "EV_PRED_DROPOFFS", "NT_PROB", "AM_PROB", "MD_PROB", "PM_PROB", "EV_PROB"]]
dest_choice.head()

,origin,destination,NT_PRED_DROPOFFS,AM_PRED_DROPOFFS,MD_PRED_DROPOFFS,PM_PRED_DROPOFFS,EV_PRED_DROPOFFS,NT_PROB,AM_PROB,MD_PROB,PM_PROB,EV_PROB
0,21067003802,21067004007,0.46,10.156298,16.875322,10.503592,5.736477,0.005682,0.427617,0.289074,0.129740,0.147887
1,21067004007,21067003802,43.68,27.992108,81.575589,61.663772,70.356776,0.094282,0.208420,0.244967,0.133099,0.319232
2,21067004007,21067003701,21.45,14.424496,47.424738,37.533198,36.925220,0.082920,0.203139,0.258797,0.145093,0.310050
3,21067003701,21067004007,0.46,10.156298,16.875322,10.503592,5.736477,0.005593,0.432212,0.286575,0.127715,0.147905
4,21067004207,21067003918,12.92,18.540740,66.190935,54.937380,33.631257,0.147802,0.068456,0.414266,0.254320,0.115156