In [1]:
import pandas as pd
import numpy as np

In [3]:
trips = pd.read_csv('E:/CR2/Repos/TNC-Demand-Model-Southeast/Cleaned_Inputs/Intermediate/priv_shared_traveltimes.csv')

In [4]:
trips.head()

,Unnamed: 0,ORIGIN,DESTINATION,walk_distance,TRAVEL_TIME_MINUTES,DISTANCE_IN_MILES,NT_PRIVATE_TRAVEL_TIME,AM_PRIVATE_TRAVEL_TIME,MD_PRIVATE_TRAVEL_TIME,PM_PRIVATE_TRAVEL_TIME,EV_PRIVATE_TRAVEL_TIME,NT_SHARED_TRAVEL_TIME,AM_SHARED_TRAVEL_TIME,MD_SHARED_TRAVEL_TIME,PM_SHARED_TRAVEL_TIME,EV_SHARED_TRAVEL_TIME
0,0,2.106700e+10,2.106700e+10,48.0,0.600000,0.000000,0.600000,0.600000,0.600000,0.600000,0.600000,0.727506,0.699501,0.659889,0.656997,0.713711
1,1,2.106700e+10,2.106700e+10,55.0,6.233333,0.644906,6.233333,6.233333,6.233333,6.233333,6.233333,7.557981,7.267039,6.855511,6.825466,7.414661
2,2,2.106700e+10,2.106700e+10,77.0,10.383333,0.890833,10.383333,10.383333,10.383333,10.383333,10.383333,12.589899,12.105254,11.419742,11.369694,12.351160
3,3,2.106700e+10,2.106700e+10,40.0,8.950000,1.046286,8.950000,8.950000,8.950000,8.950000,8.950000,10.851967,10.434224,9.843341,9.800201,10.646185
4,4,2.106700e+10,2.106700e+10,NaN,7.533333,1.053952,7.533333,7.533333,7.533333,7.533333,7.533333,9.134244,8.782624,8.285270,8.248959,8.961035