In [78]:
import pandas as pd
import numpy as np
from geopy.distance import geodesic

In [79]:
points = pd.read_csv('E:/CR2/Repos/TNC-Demand-Model-Southeast/Cleaned_Inputs/Intermediate/centroid_points.csv')

In [80]:
points.head()

   Unnamed: 0          X          Y        GEOID
0           0 -84.494376  38.044939  21067000101
1           1 -84.502540  38.051703  21067000102
2           2 -84.491059  38.057586  21067000200
3           3 -84.483765  38.050696  21067000300
4           4 -84.475200  38.045341  21067000400

In [81]:
tracts = points.GEOID

In [82]:
def find_distance(row, origin):
    dest_lat = row['Y']
    dest_lon = row['X']
    dest = (dest_lat, dest_lon)

    dist = geodesic(origin, dest).mi

    return dist

In [83]:
df = pd.DataFrame()
for tract in tracts:
    print(tract)
    origin_lat = points[points['GEOID'] == tract]['Y'].mean()
    origin_lon = points[points['GEOID'] == tract]['X'].mean()
    origin = (origin_lat, origin_lon)
    points['DISTANCE_IN_MILES'] = points.apply(lambda row: find_distance(row, origin), axis = 1)
    points['ORIGIN'] = tract
    df = pd.concat([df, points])
    

# reset index without adding the old index
df.reset_index(drop=True, inplace=True)

21067000101
21067000102
21067000200
21067000300
21067000400
21067000500
21067000600
21067000700
21067000801
21067000802
21067000900
21067001000
21067001100
21067001300
21067001400
21067001500
21067001600
21067001700
21067001800
21067001900
21067002001
21067002002
21067002200
21067002302
21067002303
21067002304
21067002400
21067002500
21067002600
21067002700
21067002800
21067002900
21067003000
21067003101
21067003102
21067003201
21067003202
21067003300
21067003402
21067003404
21067003405
21067003406
21067003407
21067003501
21067003503
21067003504
21067003600
21067003701
21067003702
21067003703
21067003704
21067003802
21067003803
21067003804
21067003906
21067003908
21067003909
21067003910
21067003911
21067003912
21067003913
21067003914
21067003915
21067003916
21067003917
21067003918
21067004001
21067004003
21067004005
21067004006
21067004007
21067004103
21067004104
21067004105
21067004106
21067004107
21067004204
21067004205
21067004207
21067004208
21067004209
21067004210

In [84]:
df['DESTINATION'] = df['GEOID']

In [85]:
df = df[['ORIGIN', 'DESTINATION', 'DISTANCE_IN_MILES']]

In [86]:
df.head(84)

         ORIGIN  DESTINATION  DISTANCE_IN_MILES
0   21067000101  21067000101           0.000000
1   21067000101  21067000102           0.644906
2   21067000101  21067000200           0.890833
3   21067000101  21067000300           0.701851
4   21067000101  21067000400           1.046286
..          ...          ...                ...
79  21067000101  21067004208           4.419359
80  21067000101  21067004209           5.778376
81  21067000101  21067004210           5.600202
82  21067000102  21067000101           0.644906
83  21067000102  21067000102           0.000000

[84 rows x 3 columns]

In [87]:
df.to_csv('E:/CR2/Repos/TNC-Demand-Model-Southeast/Cleaned_Inputs/Intermediate/fayette_distance_matrix.csv')