In [392]:
import pandas as pd
import numpy as np

In [393]:
pd.options.display.max_columns= 100

In [394]:
# process dp04 data

In [395]:
acs_dp04 = pd.read_csv('E:/CR2/Repos/TNC-Demand-Model-Southeast/Raw_Inputs/ACS/DP04/DP04.csv')

In [396]:
acs_dp04[['TRACT', 'COUNTY', 'STATE']] = acs_dp04.NAME.str.split(',', expand=True)

In [397]:
acs_dp04 = acs_dp04[acs_dp04['COUNTY'] == ' Fayette County']

In [398]:
acs_dp04['CENSUS_TRACT'] = acs_dp04.apply(lambda row: row['GEO_ID'][9:], axis = 1)

In [399]:
rename = ['TOTAL_HHLDS', 'HHLDS_0_VEH', 'HHLDS_1_VEH', 'HHLDS_2_VEH', 'HHLDS_3P_VEH', 'CENSUS_TRACT']

In [400]:
keep = ['DP04_0057E', 'DP04_0058E', 'DP04_0059E', 'DP04_0060E', 'DP04_0061E', 'CENSUS_TRACT']

In [401]:
acs_dp04 = acs_dp04[keep]

In [402]:
acs_dp04.columns = rename

In [403]:
#THIS ALL NEEDS TO GO IN THE MAIN SCRIPT
## allows all data to be the same type to calculate

acs_dp04['HHLDS_0_VEH'] = acs_dp04.HHLDS_0_VEH.astype(float)
acs_dp04['HHLDS_1_VEH'] = acs_dp04.HHLDS_1_VEH.astype(float)
acs_dp04['HHLDS_2_VEH'] = acs_dp04.HHLDS_2_VEH.astype(float)
acs_dp04['HHLDS_3P_VEH'] = acs_dp04.HHLDS_3P_VEH.astype(float)
acs_dp04['TOTAL_HHLDS'] = acs_dp04.TOTAL_HHLDS.astype(float)

In [404]:
#THIS ALL NEEDS TO GO IN THE MAIN SCRIPT
# calculates average vehicles per household

def set_avg_veh_per_hhlds(row):
    if row['TOTAL_HHLDS']  == 0:
        veh = 0
        
    else:
        veh = (row['HHLDS_0_VEH']*0 + row['HHLDS_1_VEH']*1 + row['HHLDS_2_VEH']*2 + row['HHLDS_3P_VEH']*3)/row['TOTAL_HHLDS']
        
    return veh

In [405]:
#THIS ALL NEEDS TO GO IN THE MAIN SCRIPT
# adds average vehicles per household as column
acs_dp04['AVG_VEH_PER_HHLD'] = acs_dp04.apply(lambda row: set_avg_veh_per_hhlds(row), axis = 1)

In [406]:
# process dp05 data

In [407]:
acs_dp05 = pd.read_csv('E:/CR2/Repos/TNC-Demand-Model-Southeast/Raw_Inputs/ACS/DP05/DP05.csv')

In [408]:
acs_dp05[['TRACT', 'COUNTY', 'STATE']] = acs_dp05.NAME.str.split(',', expand=True)

In [409]:
acs_dp05 = acs_dp05[acs_dp05['COUNTY'] == ' Fayette County']

In [410]:
acs_dp05['CENSUS_TRACT'] = acs_dp05.apply(lambda row: row['GEO_ID'][9:], axis = 1)

In [411]:
acs_dp05 = acs_dp05.rename(columns={'DP05_0018E': 'MEDIAN_AGE'})

In [412]:
acs_dp05 = acs_dp05[['MEDIAN_AGE', 'CENSUS_TRACT']]

In [413]:
# process S1101 data

In [414]:
acs_s1101 = pd.read_csv('E:/CR2/Repos/TNC-Demand-Model-Southeast/Raw_Inputs/ACS/S1101/S1101.csv')

In [415]:
acs_s1101[['TRACT', 'COUNTY', 'STATE']] = acs_s1101.NAME.str.split(',', expand=True)

In [416]:
acs_s1101 = acs_s1101[acs_s1101['COUNTY'] == ' Fayette County']

In [417]:
acs_s1101['CENSUS_TRACT'] = acs_s1101.apply(lambda row: row['GEO_ID'][9:], axis = 1)

In [418]:
keep = ['S1101_C01_001E', 'S1101_C01_002E', 'S1101_C01_004E', 'CENSUS_TRACT']

In [419]:
rename = ['TOTAL_HHLDS', 'AVG_HHLD_SIZE', 'AVG_FAMILY_SIZE', 'CENSUS_TRACT']

In [420]:
acs_s1101 = acs_s1101[keep]
acs_s1101.columns = rename

In [421]:
# Process S1501 Data

In [422]:
acs_s1501 = pd.read_csv('E:/CR2/Repos/TNC-Demand-Model-Southeast/Raw_Inputs/ACS/S1501/S1501.csv')

In [423]:
acs_s1501[['TRACT', 'COUNTY', 'STATE']] = acs_s1501.NAME.str.split(',', expand=True)

In [424]:
acs_s1501 = acs_s1501[acs_s1501['COUNTY'] == ' Fayette County']

In [425]:
acs_s1501['CENSUS_TRACT'] = acs_s1501.apply(lambda row: row['GEO_ID'][9:], axis = 1)

In [426]:
keep = ['S1501_C01_001E', 'S1501_C01_002E', 'S1501_C01_003E', 'S1501_C01_004E', 'S1501_C01_005E', 'S1501_C01_006E', 'S1501_C01_007E', 'S1501_C01_008E', 'S1501_C01_009E', 'S1501_C01_010E', 'S1501_C01_011E', 'S1501_C01_012E', 'S1501_C01_013E', 'S1501_C01_014E', 'S1501_C01_015E','CENSUS_TRACT']

In [427]:
rename = ['TOTAL_POP_18_24', 'TOTAL_POP_18_24_NO_HIGH_SCHOOL', 'TOTAL_POP_18_24_HIGH_SCHOOL', 'TOTAL_POP_18_24_SOME_COLLEGE', 'TOTAL_POP_18_24_SOME_BACHELORS_HIGHER', 'TOTAL_POP_25P', 'TOTAL_POP_25P_LESS_THAN_9TH', 'TOTAL_POP_25P_9TH_TO_12TH', 'TOTAL_POP_25P_HIGH_SCHOOL', 'TOTAL_POP_25P_SOME_COLLEGE', 'TOTAL_POP_25P_ASSOCIATES', 'TOTAL_POP_25P_BACHELORS', 'TOTAL_POP_25P_GRADUATE', 'TOTAL_POP_25P_HIGH_SCHOOL_HIGHER', 'TOTAL_POP_25P_BACHELORS_HIGHER','CENSUS_TRACT']

In [428]:
acs_s1501 = acs_s1501[keep]
acs_s1501.columns = rename

In [429]:
# combine bachelors+ columns and drop the rest

In [430]:
acs_s1501['TOTAL_POP_25P_GRADUATE'] = acs_s1501['TOTAL_POP_25P_GRADUATE'].astype(float)
acs_s1501['TOTAL_POP_25P_BACHELORS_HIGHER'] = acs_s1501['TOTAL_POP_25P_BACHELORS_HIGHER'].astype(float)

In [431]:
acs_s1501['P_BACH_25P'] = acs_s1501['TOTAL_POP_25P_GRADUATE'] + acs_s1501['TOTAL_POP_25P_BACHELORS_HIGHER']

In [432]:
acs_s1501 = acs_s1501[['CENSUS_TRACT', 'P_BACH_25P']]

In [433]:
# Process S1901 Data

In [434]:
acs_s1901 = pd.read_csv('E:/CR2/Repos/TNC-Demand-Model-Southeast/Raw_Inputs/ACS/S1901/S1901.csv')

In [435]:
acs_s1901[['TRACT', 'COUNTY', 'STATE']] = acs_s1901.NAME.str.split(',', expand=True)

In [436]:
acs_s1901 = acs_s1901[acs_s1901['COUNTY'] == ' Fayette County']

In [437]:
acs_s1901['CENSUS_TRACT'] = acs_s1901.apply(lambda row: row['GEO_ID'][9:], axis = 1)

In [438]:
keep = ['S1901_C01_002E', 'S1901_C01_003E', 'S1901_C01_004E', 'S1901_C01_005E', 'S1901_C01_006E', 'S1901_C01_007E', 'S1901_C01_008E', 'S1901_C01_009E', 'S1901_C01_010E', 'S1901_C01_011E', 'S1901_C01_012E', 'S1901_C01_012E','CENSUS_TRACT']

In [439]:
rename = ['TOTAL_HHLDS_LESS_10K', 'TOTAL_HHLDS_10K_15K', 'TOTAL_HHLDS_15K_25K', 'TOTAL_HHLDS_25K_35K', 'TOTAL_HHLDS_35K_50K', 'TOTAL_HHLDS_50K_75K', 'TOTAL_HHLDS_75K_100K', 'TOTAL_HHLDS_100K_150K', 'TOTAL_HHLDS_150K_200K', 'TOTAL_HHLDS_200KP', 'HHLDS_MEDIAN_INCOME', 'HHLDS_MEAN_INCOME','CENSUS_TRACT']

In [440]:
acs_s1901 = acs_s1901[keep]
acs_s1901.columns = rename

In [441]:
# combines S1901 columns into HIGH_INC and LOW_INC, then drops the rest

In [442]:
low_income = ['TOTAL_HHLDS_LESS_10K', 'TOTAL_HHLDS_10K_15K', 'TOTAL_HHLDS_15K_25K', 'TOTAL_HHLDS_25K_35K', 'TOTAL_HHLDS_35K_50K', 'TOTAL_HHLDS_50K_75K', 'TOTAL_HHLDS_75K_100K']

In [443]:
high_income = ['TOTAL_HHLDS_100K_150K', 'TOTAL_HHLDS_150K_200K', 'TOTAL_HHLDS_200KP']

In [444]:
acs_s1901[low_income] = acs_s1901[low_income].astype(float)

In [445]:
acs_s1901[high_income] = acs_s1901[high_income].astype(float)

In [446]:
acs_s1901['LOW_INC'] = (acs_s1901['TOTAL_HHLDS_LESS_10K'] + acs_s1901['TOTAL_HHLDS_10K_15K'] + acs_s1901['TOTAL_HHLDS_15K_25K'] + acs_s1901['TOTAL_HHLDS_25K_35K'] + acs_s1901['TOTAL_HHLDS_35K_50K'] + acs_s1901['TOTAL_HHLDS_50K_75K'] + acs_s1901['TOTAL_HHLDS_75K_100K'])

In [447]:
acs_s1901['HIGH_INC'] = (acs_s1901['TOTAL_HHLDS_100K_150K'] + acs_s1901['TOTAL_HHLDS_150K_200K'] + acs_s1901['TOTAL_HHLDS_200KP'])

In [448]:
acs_s1901 = acs_s1901[['LOW_INC', 'HIGH_INC', 'CENSUS_TRACT']]

In [449]:
## combines ACS data into one dataframe

acs = acs_dp05.merge(acs_s1101, on = 'CENSUS_TRACT', suffixes = ('_DP05', '_S1101'))
acs = acs.merge(acs_s1501, on = 'CENSUS_TRACT', suffixes = ('', '_S1501'))
acs = acs.merge(acs_s1901, on = 'CENSUS_TRACT', suffixes = ('', '_S1901'))
acs = acs.merge(acs_dp04, on = 'CENSUS_TRACT', suffixes = ('', '_DP04'))

In [450]:
acs['TOTAL_HHLDS'] = acs['TOTAL_HHLDS'].astype(float)

In [451]:
def income_and_vehicles_household(df, total, income, hhlds_veh):

    # probability of income, and vehicles per household
    df['income_prob'] = df[income] / df[total]
    df['hhlds_prob'] = df[hhlds_veh] / df[total]

    # gets probability for both
    df['both_prob'] = df['income_prob'] * df['hhlds_prob']

    # calculates number of households with given income and vehicles per household
    df['income_and_vehicles'] = df['both_prob'] * df[total]
    acs.drop(columns=['income_prob', 'hhlds_prob', 'both_prob'])
    
    return df['income_and_vehicles']

In [452]:
acs['HI_INC_0'] = income_and_vehicles_household(acs,'TOTAL_HHLDS', 'HIGH_INC', 'HHLDS_0_VEH')

In [453]:
acs['LOW_INC_0'] = income_and_vehicles_household(acs,'TOTAL_HHLDS', 'LOW_INC', 'HHLDS_0_VEH')

In [454]:
acs['LOW_INC_1P'] = income_and_vehicles_household(acs,'TOTAL_HHLDS', 'LOW_INC', 'HHLDS_1_VEH')

In [455]:
acs['HI_INC_1P'] = income_and_vehicles_household(acs,'TOTAL_HHLDS', 'HIGH_INC', 'HHLDS_1_VEH')

In [456]:
acs.drop(columns=['income_prob', 'hhlds_prob', 'both_prob', 'income_and_vehicles'])

,MEDIAN_AGE,CENSUS_TRACT,TOTAL_HHLDS,AVG_HHLD_SIZE,AVG_FAMILY_SIZE,P_BACH_25P,LOW_INC,HIGH_INC,TOTAL_HHLDS_DP04,HHLDS_0_VEH,HHLDS_1_VEH,HHLDS_2_VEH,HHLDS_3P_VEH,AVG_VEH_PER_HHLD,HI_INC_0,LOW_INC_0,LOW_INC_1P,HI_INC_1P
0,31.0,21067000101,1993.0,1.52,2.40,1478.0,85.5,14.5,1993.0,646.0,950.0,358.0,39.0,0.894631,4.699950,27.713497,40.755143,6.911691
1,52.4,21067000102,984.0,1.44,2.70,799.0,84.1,15.8,984.0,323.0,478.0,129.0,54.0,0.912602,5.186382,27.605996,40.853455,7.675203
2,24.1,21067000200,1225.0,2.37,3.33,568.0,91.7,8.4,1225.0,355.0,449.0,290.0,131.0,1.160816,2.434286,26.574286,33.610857,3.078857
3,36.8,21067000300,1249.0,2.17,2.89,403.0,91.7,8.2,1249.0,227.0,595.0,307.0,120.0,1.256205,1.490312,16.666053,43.684147,3.906325
4,32.8,21067000400,784.0,2.48,3.12,134.0,95.6,4.4,784.0,215.0,321.0,186.0,62.0,1.121173,1.206633,26.216837,39.142347,1.801531
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,42.9,21067004205,2629.0,2.61,3.02,4175.0,50.7,49.3,2629.0,0.0,635.0,1404.0,590.0,1.982883,0.000000,0.000000,12.245911,11.907760
78,49.1,21067004207,1485.0,2.61,2.95,2717.0,37.2,62.9,1485.0,0.0,285.0,760.0,440.0,2.104377,0.000000,0.000000,7.139394,12.071717
79,42.5,21067004208,2677.0,2.62,3.00,4472.0,43.7,56.2,2677.0,13.0,787.0,1372.0,505.0,1.884946,0.272917,0.212215,12.847180,16.522002
80,35.2,21067004209,1617.0,2.74,3.21,2021.0,64.5,35.5,1617.0,9.0,543.0,677.0,388.0,1.893012,0.197588,0.358998,21.659555,11.921150
81,33.0,21067004210,1995.0,2.74,3.43,2748.0,64.8,35.4,1995.0,0.0,602.0,983.0,410.0,1.903759,0.000000,0.000000,19.553684,10.682105

In [457]:
acs = acs[['CENSUS_TRACT', 'MEDIAN_AGE', 'LOW_INC_0', 'HI_INC_0', 'LOW_INC_1P', 'HI_INC_1P', 'P_BACH_25P']]

In [458]:
# merges wac and acs dataframes into one

In [459]:
lehd = pd.read_csv("E:/CR2/Repos/TNC-Demand-Model-Southeast/Cleaned_Inputs/Intermediate/wac.csv")

In [460]:
lehd['trct_string'] = lehd['trct'].astype(str)

In [461]:
merged_data = acs.merge(lehd, left_on='CENSUS_TRACT', right_on='trct_string', how='left')

In [462]:
merged_data = merged_data[['CENSUS_TRACT', 'MEDIAN_AGE', 'LOW_INC_0', 'HI_INC_0', 'LOW_INC_1P', 'HI_INC_1P', 'P_BACH_25P', 'FOOD_EMP', 'RETAIL_EMP', 'OTHER_EMP', 'TOTAL_EMP_DEN']]

In [ ]:
# column just for October 2019, filled with ones

In [466]:
merged_data['OCT_19'] = 1

In [ ]:
# placeholder for Logsum

In [477]:
merged_data['LOGSUM'] = 0

In [ ]:
# placeholder for Airport

In [471]:
merged_data['AIR_F'] = 1

In [472]:
# plapceholder for Tourist

In [473]:
merged_data['TOR_F'] = 0

In [533]:
# placeholder for MONTHS, YEARS, and WEEKDAYS

In [534]:
merged_data['MONTH'] = 0

In [535]:
merged_data['YEAR'] = 0

In [536]:
merged_data['WEEKDAYS'] = 0

In [537]:
merged_data.head()

,CENSUS_TRACT,MEDIAN_AGE,LOW_INC_0,HI_INC_0,LOW_INC_1P,HI_INC_1P,P_BACH_25P,FOOD_EMP,RETAIL_EMP,OTHER_EMP,TOTAL_EMP_DEN,OCT_19,LOG_SUM,AIR_F,TOR_F,LOGSUM,MONTH,YEAR,WEEKDAYS
0,21067000101,31.0,27.713497,4.699950,40.755143,6.911691,1478.0,1465,264,61,36.315604,1,0,1,0,0,0,0,0
1,21067000102,52.4,27.605996,5.186382,40.853455,7.675203,799.0,569,48,5,7.654104,1,0,1,0,0,0,0,0
2,21067000200,24.1,26.574286,2.434286,33.610857,3.078857,568.0,143,120,10,4.561465,1,0,1,0,0,0,0,0
3,21067000300,36.8,16.666053,1.490312,43.684147,3.906325,403.0,9,50,0,0.626981,1,0,1,0,0,0,0,0
4,21067000400,32.8,26.216837,1.206633,39.142347,1.801531,134.0,23,38,0,3.177175,1,0,1,0,0,0,0,0

In [474]:
# send merged ACS and WAC data to merged file

In [538]:
merged_data.to_csv('E:/CR2/Repos/TNC-Demand-Model-Southeast/Cleaned_Inputs/Intermediate/merged.csv')

In [539]:
# adjust weekdays file to October of 2019

In [540]:
weekdays = pd.read_csv('E:/CR2/Repos/TNC-Demand-Model-Southeast/Raw_Inputs/Number of Weekdays.csv')

In [541]:
month = 10

In [542]:
year = 2019

In [543]:
weekdays_2019 = weekdays[(weekdays['MONTH'] == month) & (weekdays['YEAR'] == year)]

In [544]:
weekdays_2019.reset_index(drop=True, inplace=True)

In [545]:
weekdays_2019.keys()

Index(['YEAR', 'MONTH', 'WEEKDAYS'], dtype='object')

In [546]:
weekdays_2019.to_csv('E:/CR2/Repos/TNC-Demand-Model-Southeast/Cleaned_Inputs/Intermediate/weekdays.csv')

In [302]:
#THIS ALL NEEDS TO GO IN THE MAIN SCRIPT

variables = acs.columns.drop('CENSUS_TRACT')

In [303]:
#THIS ALL NEEDS TO GO IN THE MAIN SCRIPT


for var in variables:    
    acs[var] = acs[var].replace('-',np.nan)
    acs[var] = acs[var].replace('250,000+','250000')
    acs[var] = acs[var].astype(float)

In [304]:
#THIS ALL NEEDS TO GO IN THE MAIN SCRIPT


acs.to_csv('E:/CR2/Repos/TNC-Demand-Model-Southeast/Cleaned_Inputs/Intermediate/acs.csv')