In [103]:
import pandas as pd
import numpy as np
%matplotlib inline

In [104]:
pd.options.display.max_columns= 100

In [105]:
wac = pd.read_csv('../Raw_Inputs/LEHD/ky_wac_S000_JT00_2019.csv')

In [106]:
geo_xwalk = pd.read_csv('../Raw_Inputs/LEHD/ky_xwalk.csv', low_memory=False)

In [107]:
wac_geo = wac.merge(geo_xwalk, how="left", left_on='w_geocode', right_on='tabblk2020')

In [108]:
wac_geo_grouped = wac_geo.groupby(by = 'trct', as_index = False).sum()

In [109]:
wac_geo_grouped['FOOD_EMP'] = wac_geo_grouped['CNS18']

In [110]:
wac_geo_grouped['RETAIL_EMP'] = wac_geo_grouped['CNS07']

In [111]:
wac_geo_grouped['OTHER_EMP'] = wac_geo_grouped['CNS01'] + wac_geo_grouped['CNS02'] + wac_geo_grouped['CNS03'] + wac_geo_grouped['CNS04'] + wac_geo_grouped['CNS05'] + wac_geo_grouped['CNS06'] + wac_geo_grouped['CNS08'] + wac_geo_grouped['CNS09'] + wac_geo_grouped['CNS10'] + wac_geo_grouped['CNS11'] + wac_geo_grouped['CNS12'] + wac_geo_grouped['CNS13'] + wac_geo_grouped['CNS14'] + wac_geo_grouped['CNS15'] + wac_geo_grouped['CNS16'] + wac_geo_grouped['CNS17'] + wac_geo_grouped['CNS19'] + wac_geo_grouped['CNS20']

In [112]:
land_area = pd.read_csv('E:/CR2/Repos/TNC-Demand-Model-Southeast/Raw_Inputs/LEHD/census_tract_landarea.csv')

In [113]:
land_area.rename(columns={'GEOID20': 'trct'}, inplace=True)

In [114]:
wac_geo_grouped = pd.merge(wac_geo_grouped, land_area, on='trct', how='inner')

In [115]:
wac_geo_grouped['TOTAL_EMP_DEN'] = (wac_geo_grouped['FOOD_EMP'] + wac_geo_grouped['RETAIL_EMP'] + wac_geo_grouped['OTHER_EMP']) / wac_geo_grouped['land_area']

In [116]:
wac_geo_grouped = wac_geo_grouped[['trct', 'FOOD_EMP', 'RETAIL_EMP', 'OTHER_EMP', 'TOTAL_EMP_DEN']]

In [117]:
wac_geo_grouped.tail()

           trct  FOOD_EMP  RETAIL_EMP  OTHER_EMP  TOTAL_EMP_DEN
77  21067004205         0           0        535     373.864430
78  21067004207       193          65       1014      93.964689
79  21067004208      1159         626       3059    1507.625272
80  21067004209        79          28         83     293.663060
81  21067004210        19         298        419     673.992674

In [118]:
wac_geo_grouped.to_csv('../Cleaned_Inputs/Intermediate/wac.csv')