In [37]:
import pandas as pd
import numpy as np
%matplotlib inline

In [38]:
wac = pd.read_csv('../Raw_Inputs/LEHD/ky_wac_S000_JT00_2019.csv')

In [48]:
wac.head(3)

,w_geocode,C000,CA01,CA02,CA03,CE01,CE02,CE03,CNS01,CNS02,...,CFA02,CFA03,CFA04,CFA05,CFS01,CFS02,CFS03,CFS04,CFS05,createdate
0,210019701001018,4,2,2,0,3,1,0,0,0,...,0,0,0,0,0,0,0,0,0,20230321
1,210019701001042,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,20230321
2,210019701002012,15,3,9,3,0,6,9,0,0,...,0,0,0,0,0,0,0,0,0,20230321

In [40]:
geo_xwalk = pd.read_csv('../Raw_Inputs/LEHD/ky_xwalk.csv')

C:\Users\Transportlab\AppData\Local\Temp\ipykernel_3428\4271520771.py:1: DtypeWarning: Columns (27,37) have mixed types. Specify dtype option on import or set low_memory=False.
  geo_xwalk = pd.read_csv('../Raw_Inputs/LEHD/ky_xwalk.csv')

In [44]:
geo_xwalk.head(2)

,tabblk2020,st,stusps,stname,cty,ctyname,trct,trctname,bgrp,bgrpname,...,stanrcname,necta,nectaname,mil,milname,stwib,stwibname,blklatdd,blklondd,createdate
0,212270118011011,21,KY,Kentucky,21227,"Warren County, KY",21227011801,"118.01 (Warren, KY)",212270118011,"1 (Tract 118.01, Warren, KY)",...,NaN,99999,NaN,NaN,NaN,2121000K,K Barren River WIB,37.119387,-86.458770,20231016
1,210579501002098,21,KY,Kentucky,21057,"Cumberland County, KY",21057950100,"9501 (Cumberland, KY)",210579501002,"2 (Tract 9501, Cumberland, KY)",...,NaN,99999,NaN,NaN,NaN,2121000H,H Cumberlands WIB,36.759793,-85.477314,20231016

In [42]:
wac_geo = wac.merge(geo_xwalk, how="left", left_on='w_geocode', right_on='tabblk2020')

In [46]:
wac_geo.head(3)

,w_geocode,C000,CA01,CA02,CA03,CE01,CE02,CE03,CNS01,CNS02,...,stanrcname,necta,nectaname,mil,milname,stwib,stwibname,blklatdd,blklondd,createdate_y
0,210019701001018,4,2,2,0,3,1,0,0,0,...,NaN,99999,NaN,NaN,NaN,2121000H,H Cumberlands WIB,37.248159,-85.196620,20231016
1,210019701001042,1,0,1,0,1,0,0,0,0,...,NaN,99999,NaN,NaN,NaN,2121000H,H Cumberlands WIB,37.243551,-85.187152,20231016
2,210019701002012,15,3,9,3,0,6,9,0,0,...,NaN,99999,NaN,NaN,NaN,2121000H,H Cumberlands WIB,37.235091,-85.158997,20231016

In [17]:
agg = {'st':'first', 'cty':'first', 'trct': 'first', 'S000':'sum', 'SA01':'sum', 'SA02':'sum', 'SA03':'sum', 'SE01':'sum', 'SE02':'sum', 'SE03':'sum', 'SI01':'sum', 'SI02':'sum', 'SI03':'sum'}

In [19]:
wac_geo_grouped = wac_geo.groupby(by = 'trct', as_index = False).sum()

In [47]:
wac_geo_grouped.head(3)

,trct,w_geocode,C000,CA01,CA02,CA03,CE01,CE02,CE03,CNS01,...,stanrcname,necta,nectaname,mil,milname,stwib,stwibname,blklatdd,blklondd,createdate_y
0,21001970100,840078804006086,22,5,14,3,4,9,9,0,...,0.0,399996,0.0,0.0,0,2121000H2121000H2121000H2121000H,H Cumberlands WIBH Cumberlands WIBH Cumberland...,148.962489,-340.665383,80924064
1,21001970200,3360315232016533,148,35,77,36,22,72,54,2,...,0.0,1599984,0.0,0.0,0,2121000H2121000H2121000H2121000H2121000H212100...,H Cumberlands WIBH Cumberlands WIBH Cumberland...,594.698995,-1365.167390,323696256
2,21001970300,3360315248032327,120,26,66,28,43,59,18,0,...,0.0,1599984,0.0,0.0,0,2121000H2121000H2121000H2121000H2121000H212100...,H Cumberlands WIBH Cumberlands WIBH Cumberland...,594.015527,-1362.645257,323696256

In [23]:
wac_geo_grouped.to_csv('../Cleaned_Inputs/Intermediate/wac.csv')