In [164]:
import pandas as pd
import numpy as np
%matplotlib inline

In [165]:
pd.options.display.max_columns= 100

In [166]:
# import wac 2019 data from LEHD lodes

In [167]:
wac = pd.read_csv('../Raw_Inputs/LEHD/ky_wac_S000_JT00_2019.csv')

In [168]:
# import wac xwalk data from LEHD lodes

In [169]:
geo_xwalk = pd.read_csv('../Raw_Inputs/LEHD/ky_xwalk.csv', low_memory=False)

In [170]:
wac_geo = wac.merge(geo_xwalk, how="left", left_on='w_geocode', right_on='tabblk2020')

In [171]:
wac_geo_grouped = wac_geo.groupby(by = 'trct', as_index = False).sum()

In [172]:
# cleaning and processing

In [173]:
wac_geo_grouped['FOOD_EMP'] = wac_geo_grouped['CNS18']

In [174]:
wac_geo_grouped['RETAIL_EMP'] = wac_geo_grouped['CNS07']

In [175]:
wac_geo_grouped['OTHER_EMP'] = wac_geo_grouped['CNS01'] + wac_geo_grouped['CNS02'] + wac_geo_grouped['CNS03'] + wac_geo_grouped['CNS04'] + wac_geo_grouped['CNS05'] + wac_geo_grouped['CNS06'] + wac_geo_grouped['CNS08'] + wac_geo_grouped['CNS09'] + wac_geo_grouped['CNS10'] + wac_geo_grouped['CNS11'] + wac_geo_grouped['CNS12'] + wac_geo_grouped['CNS13'] + wac_geo_grouped['CNS14'] + wac_geo_grouped['CNS15'] + wac_geo_grouped['CNS16'] + wac_geo_grouped['CNS17'] + wac_geo_grouped['CNS19'] + wac_geo_grouped['CNS20']

In [176]:
# import shapefile from QGIS (after calculating land area using the shapefile)

In [177]:
land_area = pd.read_csv('E:/CR2/Repos/TNC-Demand-Model-Southeast/Raw_Inputs/LEHD/census_landarea.csv')

In [178]:
land_area.rename(columns={'GEOID20': 'trct'}, inplace=True)

In [179]:
# merged

In [180]:
wac_geo_grouped = pd.merge(wac_geo_grouped, land_area, on='trct', how='inner')

In [181]:
wac_geo_grouped['TOTAL_EMP_DEN'] = (wac_geo_grouped['FOOD_EMP'] + wac_geo_grouped['RETAIL_EMP'] + wac_geo_grouped['OTHER_EMP']) / wac_geo_grouped['land_area']

In [182]:
wac_geo_grouped = wac_geo_grouped[['trct', 'FOOD_EMP', 'RETAIL_EMP', 'OTHER_EMP', 'TOTAL_EMP_DEN']]

In [183]:
wac_geo_grouped.head()

          trct  FOOD_EMP  RETAIL_EMP  OTHER_EMP  TOTAL_EMP_DEN
0  21067000101      1465         264       8581   20497.017893
1  21067000102       569          48       1556    7124.590164
2  21067000200       143         120       1032    2133.443163
3  21067000300         9          50        119     425.837321
4  21067000400        23          38        841    1969.432314

In [184]:
wac_geo_grouped.to_csv('../Cleaned_Inputs/Intermediate/wac.csv')