In [155]:
import pandas as pd
import numpy as np

In [156]:
otp = pd.read_csv('E:/CR2/Repos/TNC-Demand-Model-Southeast/OTP/Car Travel Times/20190605/traveltime_matrix_/traveltime.csv')

In [157]:
otp['ORIGIN'] = otp.origin.astype(float)
otp['DESTINATION'] = otp.destination.astype(float)

In [158]:
otp['TRAVEL_TIME_MINUTES'] = otp['travel_time']/60

In [159]:
otp['year'] = 2019

In [160]:
otp.head()

,year,depart_time,origin,destination,walk_distance,travel_time,ORIGIN,DESTINATION,TRAVEL_TIME_MINUTES
0,2019,0:873:00,21067000101,21067000101,48.0,36,2.106700e+10,2.106700e+10,0.600000
1,2019,0:873:00,21067000101,21067000102,55.0,374,2.106700e+10,2.106700e+10,6.233333
2,2019,0:873:00,21067000101,21067000200,77.0,623,2.106700e+10,2.106700e+10,10.383333
3,2019,0:873:00,21067000101,21067000400,40.0,537,2.106700e+10,2.106700e+10,8.950000
4,2019,0:873:00,21067000101,21067000500,NaN,452,2.106700e+10,2.106700e+10,7.533333

In [161]:
otp = otp[['year', 'depart_time', 'ORIGIN', 'DESTINATION', 'walk_distance', 'TRAVEL_TIME_MINUTES']]

In [162]:
# walk distance is average meters walked to pick up zone

In [163]:
otp.head()

,year,depart_time,ORIGIN,DESTINATION,walk_distance,TRAVEL_TIME_MINUTES
0,2019,0:873:00,2.106700e+10,2.106700e+10,48.0,0.600000
1,2019,0:873:00,2.106700e+10,2.106700e+10,55.0,6.233333
2,2019,0:873:00,2.106700e+10,2.106700e+10,77.0,10.383333
3,2019,0:873:00,2.106700e+10,2.106700e+10,40.0,8.950000
4,2019,0:873:00,2.106700e+10,2.106700e+10,NaN,7.533333

In [164]:
distance = pd.read_csv('E:/CR2/Repos/TNC-Demand-Model-Southeast/Cleaned_Inputs/Intermediate/fayette_distance_matrix.csv')

In [165]:
distance.head()

   Unnamed: 0       ORIGIN  DESTINATION  DISTANCE_IN_MILES
0           0  21067000101  21067000101           0.000000
1           1  21067000101  21067000102           0.644906
2           2  21067000101  21067000200           0.890833
3           3  21067000101  21067000300           0.701851
4           4  21067000101  21067000400           1.046286

In [166]:
# calculate private/shared trips

In [167]:
# kept private trips the same as given travel time. 
# did not use travel time coefficients due to less congestion in Fayette county compared to Chicago.

In [168]:
otp = pd.merge(otp, distance, on=['ORIGIN', 'DESTINATION'])

In [169]:
otp.loc[:, 'PRIVATE_TRAVEL_TIME'] = otp['TRAVEL_TIME_MINUTES']
# for now, we only have one private travel time per day
# otp.loc[:, 'AM_PRIVATE_TRAVEL_TIME'] = otp['TRAVEL_TIME_MINUTES']
# otp.loc[:, 'MD_PRIVATE_TRAVEL_TIME'] = otp['TRAVEL_TIME_MINUTES']
# otp.loc[:, 'PM_PRIVATE_TRAVEL_TIME'] = otp['TRAVEL_TIME_MINUTES']
# otp.loc[:, 'EV_PRIVATE_TRAVEL_TIME'] = otp['TRAVEL_TIME_MINUTES']

In [170]:
# shared trips are calculated like this: (OTP travel times * shared travel time coefficients) / (private travel time coefficients)

In [171]:
otp.loc[:, 'NT_SHARED_TRAVEL_TIME'] = otp['TRAVEL_TIME_MINUTES'] * (1.0293 / 0.8489)
otp.loc[:, 'AM_SHARED_TRAVEL_TIME'] = otp['TRAVEL_TIME_MINUTES'] * (1.3786 / 1.1825)
otp.loc[:, 'MD_SHARED_TRAVEL_TIME'] = otp['TRAVEL_TIME_MINUTES'] * (1.2462 / 1.1331)
otp.loc[:, 'PM_SHARED_TRAVEL_TIME'] = otp['TRAVEL_TIME_MINUTES'] * (1.4132 / 1.2906)
otp.loc[:, 'EV_SHARED_TRAVEL_TIME'] = otp['TRAVEL_TIME_MINUTES'] * (1.1053 / 0.9292)

In [172]:
otp = otp[['ORIGIN', 'DESTINATION', 'walk_distance', 'TRAVEL_TIME_MINUTES', 'DISTANCE_IN_MILES', 'PRIVATE_TRAVEL_TIME', 'NT_SHARED_TRAVEL_TIME', 'AM_SHARED_TRAVEL_TIME', 'MD_SHARED_TRAVEL_TIME', 'PM_SHARED_TRAVEL_TIME', 'EV_SHARED_TRAVEL_TIME']]

In [173]:
otp.head()

,ORIGIN,DESTINATION,walk_distance,TRAVEL_TIME_MINUTES,DISTANCE_IN_MILES,PRIVATE_TRAVEL_TIME,NT_SHARED_TRAVEL_TIME,AM_SHARED_TRAVEL_TIME,MD_SHARED_TRAVEL_TIME,PM_SHARED_TRAVEL_TIME,EV_SHARED_TRAVEL_TIME
0,2.106700e+10,2.106700e+10,48.0,0.600000,0.000000,0.600000,0.727506,0.699501,0.659889,0.656997,0.713711
1,2.106700e+10,2.106700e+10,55.0,6.233333,0.644906,6.233333,7.557981,7.267039,6.855511,6.825466,7.414661
2,2.106700e+10,2.106700e+10,77.0,10.383333,0.890833,10.383333,12.589899,12.105254,11.419742,11.369694,12.351160
3,2.106700e+10,2.106700e+10,40.0,8.950000,1.046286,8.950000,10.851967,10.434224,9.843341,9.800201,10.646185
4,2.106700e+10,2.106700e+10,NaN,7.533333,1.053952,7.533333,9.134244,8.782624,8.285270,8.248959,8.961035

In [174]:
otp.to_csv('E:/CR2/Repos/TNC-Demand-Model-Southeast/Cleaned_Inputs/Intermediate/priv_shared_traveltimes.csv')