In [14]:
import pandas as pd
import numpy as np
import os

In [15]:
### Set working directory
os.chdir('E:/CR2/Repos/TNC-Demand-Model-Southeast/')

In [16]:
pd.options.display.max_columns= 1000

In [17]:
trips = pd.read_csv('Cleaned_Inputs/Intermediate/priv_shared_traveltimes.csv')

In [18]:
# private trip fares using 1.9035 + (0.2892)(travel time in minutes) + (0.8822)(distance in miles)

In [19]:
# Calculating trip fares
## Fares are a function of the number of travel time and distance.
trips.loc[:, 'PRIVATE_TRIP_FARES'] = 1.9035 + (0.2892 * trips['PRIVATE_TRAVEL_TIME']) + (0.8822 * trips['distance_miles'])
# for now we only have one private travel time per day
# trips.loc[:, 'AM_PRIVATE_TRIP_FARES'] = 1.9035 + (0.2892 * trips['AM_PRIVATE_TRAVEL_TIME']) + (0.8822 * trips['DISTANCE_IN_MILES'])
# trips.loc[:, 'MD_PRIVATE_TRIP_FARES'] = 1.9035 + (0.2892 * trips['MD_PRIVATE_TRAVEL_TIME']) + (0.8822 * trips['DISTANCE_IN_MILES'])
# trips.loc[:, 'PM_PRIVATE_TRIP_FARES'] = 1.9035 + (0.2892 * trips['PM_PRIVATE_TRAVEL_TIME']) + (0.8822 * trips['DISTANCE_IN_MILES'])
# trips.loc[:, 'EV_PRIVATE_TRIP_FARES'] = 1.9035 + (0.2892 * trips['EV_PRIVATE_TRAVEL_TIME']) + (0.8822 * trips['DISTANCE_IN_MILES'])

In [20]:
# shared trip fares using 2.6496 + (0.06)(travel time in minutes) + (0.7349)(distance in miles)

In [21]:
trips.loc[:, 'SHARED_TRIP_FARES'] = 2.6496 + (0.06 * trips['SHARED_TRAVEL_TIME']) + (0.7349 * trips['distance_miles'])
#trips.loc[:, 'NT_SHARED_TRIP_FARES'] = 2.6496 + (0.06 * trips['NT_SHARED_TRAVEL_TIME']) + (0.7349 * trips['distance_miles'])
#trips.loc[:, 'AM_SHARED_TRIP_FARES'] = 2.6496 + (0.06 * trips['AM_SHARED_TRAVEL_TIME']) + (0.7349* trips['distance_miles'])
#trips.loc[:, 'MD_SHARED_TRIP_FARES'] = 2.6496 + (0.06 * trips['MD_SHARED_TRAVEL_TIME']) + (0.7349 * trips['distance_miles'])
#trips.loc[:, 'PM_SHARED_TRIP_FARES'] = 2.6496 + (0.06 * trips['PM_SHARED_TRAVEL_TIME']) + (0.7349 * trips['distance_miles'])
#trips.loc[:, 'EV_SHARED_TRIP_FARES'] = 2.6496 + (0.06 * trips['EV_SHARED_TRAVEL_TIME']) + (0.7349 * trips['distance_miles'])

In [22]:
# Rename trips to fares
fares = trips

In [23]:
fares = fares.iloc[: , 1:]
fares.head()

,origin,destination,travel_time_min,distance_miles,PRIVATE_TRAVEL_TIME,SHARED_TRAVEL_TIME,PRIVATE_TRIP_FARES,SHARED_TRIP_FARES
0,21067003802,21067004007,40.016667,20.158829,40.016667,44.016667,31.260439,20.105323
1,21067004007,21067003802,36.616667,24.871705,36.616667,40.616667,34.434858,23.364816
2,21067004007,21067003701,40.533333,22.877503,40.533333,44.533333,33.808273,22.134277
3,21067003701,21067004007,38.750000,22.608280,38.750000,42.750000,33.055025,21.829425
4,21067004207,21067003918,32.583333,19.840966,32.583333,36.583333,28.830300,19.425726

In [24]:
# Write fares to CSV
fares.to_csv('Cleaned_Inputs/Intermediate/fares_and_times.csv', index = False)