In [110]:
# Import Libraries
import numpy as np
import pandas as pd
import os

In [111]:
## Set working directory
os.chdir('E:/CR2/Repos/TNC-Demand-Model-Southeast/')

In [112]:
## Read CSV of Merged Fayette Data
pickups = pd.read_csv('E:/CR2/Repos/TNC-Demand-Model-Southeast/Cleaned_Inputs/Intermediate/merged_fayette_data.csv')
pickups.head()

,Unnamed: 0,GEOID,MEDIAN_AGE,LOW_INC_0,HI_INC_0,LOW_INC_1P,HI_INC_1P,P_BACH_25P,FOOD_EMP,RETAIL_EMP,OTHER_EMP,TOTAL_EMP_DEN,LOGSUM,AIR_F,TOR_F
0,0,21067000101,31.0,520.0,0.0,1290.0,189.0,32.675045,1465,264,8581,20501.093657,0,0,0
1,1,21067000102,52.4,290.0,10.0,609.0,154.0,53.358925,569,48,1556,7136.288998,0,0,0
2,2,21067000200,24.1,430.0,0.0,674.0,125.0,42.355890,143,120,1032,2132.740448,0,0,0
3,3,21067000300,36.8,410.0,0.0,860.0,70.0,45.487365,9,50,119,425.735470,0,0,0
4,4,21067000400,32.8,180.0,0.0,587.0,19.0,30.097087,23,38,841,1970.292704,0,0,0

In [113]:
## Get linear predicted pickups by TOD
#pickups['AM_PRED_PICKUPS'] = 6.232979*pickups['AIR_F'] + 0.0002121*pickups['RETAIL_EMP'] + 0.0001457*pickups['OTHER_EMP'] + 0.0003934*pickups['FOOD_EMP'] + 0.0028731*pickups['HI_INC_0'] + 0.000000101*pickups['HI_INC_1P']
#pickups['NT_PRED_PICKUPS'] = 5.364208*pickups['AIR_F'] + 0.0000122*pickups['OTHER_EMP'] + 0.0006718*pickups['FOOD_EMP'] + 0.0028515*pickups['HI_INC_0'] + 0.0001569*pickups['LOW_INC_0'] + 0.0000000404*pickups['HI_INC_1P']
#pickups['MD_PRED_PICKUPS'] = 15.13982*pickups['AIR_F'] + 0.0007778*pickups['RETAIL_EMP'] + 0.0001391*pickups['OTHER_EMP'] + 0.0019399*pickups['FOOD_EMP'] + 0.0051297*pickups['HI_INC_0'] + 0.0000563*pickups['LOW_INC_0'] + 0.0001017*pickups['LOW_INC_1P'] + 0.000000309*pickups['HI_INC_1P']
#pickups['PM_PRED_PICKUPS'] = 3.164622*pickups['AIR_F'] + 0.7186*pickups['TOR_F'] + 0.00000158*pickups['RETAIL_EMP'] + 0.00000186*pickups['OTHER_EMP'] + 0.0016907*pickups['FOOD_EMP'] + 0.0040117*pickups['HI_INC_0'] + 0.0002001*pickups['LOW_INC_0'] + 0.0001274*pickups['LOW_INC_1P'] + 0.0000000639*pickups['HI_INC_1P']
#pickups['EV_PRED_PICKUPS'] = 0.5572715*pickups['TOR_F'] + 0.001226*pickups['FOOD_EMP'] + 0.005038*pickups['HI_INC_0'] + 0.0002305*pickups['LOW_INC_0'] + 0.000151*pickups['LOW_INC_1P'] + 0.0000000662*pickups['HI_INC_1P']
#pickups.head()
### Coefficients pulled from Table 5.1 of Trip Generation
pickups['NT_PRED_PICKUPS'] = 260*pickups['AIR_F'] + 0.13*pickups['FOOD_EMP'] + 0.01*pickups['HI_INC_0'] +  0.02*pickups['LOW_INC_0']
pickups['AM_PRED_PICKUPS'] = 130*pickups['AIR_F'] + 53*pickups['TOR_F'] + 0.05*pickups['FOOD_EMP'] + 0.02*pickups['RETAIL_EMP'] + 0.0000952*pickups['OTHER_EMP'] + 0.37*pickups['HI_INC_0'] +  0.02*pickups['LOW_INC_0'] + 0.02*pickups['LOW_INC_1P'] + 0.0000136*pickups['HI_INC_1P']
pickups['MD_PRED_PICKUPS'] = 921*pickups['AIR_F'] + 173*pickups['TOR_F'] + 0.15*pickups['FOOD_EMP'] + 0.07*pickups['RETAIL_EMP'] + 0.01*pickups['OTHER_EMP'] + 0.63*pickups['HI_INC_0'] +  0.03*pickups['LOW_INC_0'] + 0.02*pickups['LOW_INC_1P'] + 0.0000243*pickups['HI_INC_1P']
pickups['PM_PRED_PICKUPS'] = 213*pickups['AIR_F'] + 102*pickups['TOR_F'] + 0.11*pickups['FOOD_EMP'] + 0.04*pickups['RETAIL_EMP'] + 0.01*pickups['OTHER_EMP'] + 0.44*pickups['HI_INC_0'] +  0.01*pickups['LOW_INC_0'] + 0.01*pickups['LOW_INC_1P'] + 0.0000164*pickups['HI_INC_1P']
pickups['EV_PRED_PICKUPS'] = 476*pickups['AIR_F'] + 0.18*pickups['FOOD_EMP'] + 0.00273*pickups['OTHER_EMP'] + 0.35*pickups['HI_INC_0'] +  0.01*pickups['LOW_INC_0'] + 0.01*pickups['LOW_INC_1P'] + 0.00000446*pickups['HI_INC_1P']
pickups.head()

,Unnamed: 0,GEOID,MEDIAN_AGE,LOW_INC_0,HI_INC_0,LOW_INC_1P,HI_INC_1P,P_BACH_25P,FOOD_EMP,RETAIL_EMP,OTHER_EMP,TOTAL_EMP_DEN,LOGSUM,AIR_F,TOR_F,NT_PRED_PICKUPS,AM_PRED_PICKUPS,MD_PRED_PICKUPS,PM_PRED_PICKUPS,EV_PRED_PICKUPS
0,0,21067000101,31.0,520.0,0.0,1290.0,189.0,32.675045,1465,264,8581,20501.093657,0,0,0,200.85,115.549482,365.444593,275.623100,305.226973
1,1,21067000102,52.4,290.0,10.0,609.0,154.0,53.358925,569,48,1556,7136.288998,0,0,0,79.87,51.240226,131.453742,93.462526,119.158567
2,2,21067000200,24.1,430.0,0.0,674.0,125.0,42.355890,143,120,1032,2132.740448,0,0,0,27.19,31.729946,66.553038,41.892050,39.597918
3,3,21067000300,36.8,410.0,0.0,860.0,70.0,45.487365,9,50,119,425.735470,0,0,0,9.37,26.862281,35.541701,16.881148,14.645182
4,4,21067000400,32.8,180.0,0.0,587.0,19.0,30.097087,23,38,841,1970.292704,0,0,0,6.59,17.330322,31.660462,20.130312,14.106015

In [114]:
### Sum pickups by TOD to get total pickups
pickups['PRED_PICKUPS'] =  pickups[['AM_PRED_PICKUPS', 'NT_PRED_PICKUPS', 'MD_PRED_PICKUPS', 'PM_PRED_PICKUPS', 'EV_PRED_PICKUPS']].sum(axis=1)
#pickups = pickups.drop(columns=['AM_PRED_PICKUPS', 'NT_PRED_PICKUPS', 'MD_PRED_PICKUPS', 'PM_PRED_PICKUPS', 'EV_PRED_PICKUPS'])
pickups.head()

,Unnamed: 0,GEOID,MEDIAN_AGE,LOW_INC_0,HI_INC_0,LOW_INC_1P,HI_INC_1P,P_BACH_25P,FOOD_EMP,RETAIL_EMP,...,TOTAL_EMP_DEN,LOGSUM,AIR_F,TOR_F,NT_PRED_PICKUPS,AM_PRED_PICKUPS,MD_PRED_PICKUPS,PM_PRED_PICKUPS,EV_PRED_PICKUPS,PRED_PICKUPS
0,0,21067000101,31.0,520.0,0.0,1290.0,189.0,32.675045,1465,264,...,20501.093657,0,0,0,200.85,115.549482,365.444593,275.623100,305.226973,1262.694147
1,1,21067000102,52.4,290.0,10.0,609.0,154.0,53.358925,569,48,...,7136.288998,0,0,0,79.87,51.240226,131.453742,93.462526,119.158567,475.185060
2,2,21067000200,24.1,430.0,0.0,674.0,125.0,42.355890,143,120,...,2132.740448,0,0,0,27.19,31.729946,66.553038,41.892050,39.597918,206.962951
3,3,21067000300,36.8,410.0,0.0,860.0,70.0,45.487365,9,50,...,425.735470,0,0,0,9.37,26.862281,35.541701,16.881148,14.645182,103.300312
4,4,21067000400,32.8,180.0,0.0,587.0,19.0,30.097087,23,38,...,1970.292704,0,0,0,6.59,17.330322,31.660462,20.130312,14.106015,89.817110

In [115]:
pickups.rename(columns={'GEOID' : 'origin'}, inplace=True)
pickups.head()

,Unnamed: 0,origin,MEDIAN_AGE,LOW_INC_0,HI_INC_0,LOW_INC_1P,HI_INC_1P,P_BACH_25P,FOOD_EMP,RETAIL_EMP,...,TOTAL_EMP_DEN,LOGSUM,AIR_F,TOR_F,NT_PRED_PICKUPS,AM_PRED_PICKUPS,MD_PRED_PICKUPS,PM_PRED_PICKUPS,EV_PRED_PICKUPS,PRED_PICKUPS
0,0,21067000101,31.0,520.0,0.0,1290.0,189.0,32.675045,1465,264,...,20501.093657,0,0,0,200.85,115.549482,365.444593,275.623100,305.226973,1262.694147
1,1,21067000102,52.4,290.0,10.0,609.0,154.0,53.358925,569,48,...,7136.288998,0,0,0,79.87,51.240226,131.453742,93.462526,119.158567,475.185060
2,2,21067000200,24.1,430.0,0.0,674.0,125.0,42.355890,143,120,...,2132.740448,0,0,0,27.19,31.729946,66.553038,41.892050,39.597918,206.962951
3,3,21067000300,36.8,410.0,0.0,860.0,70.0,45.487365,9,50,...,425.735470,0,0,0,9.37,26.862281,35.541701,16.881148,14.645182,103.300312
4,4,21067000400,32.8,180.0,0.0,587.0,19.0,30.097087,23,38,...,1970.292704,0,0,0,6.59,17.330322,31.660462,20.130312,14.106015,89.817110

In [117]:
for i in ['NT_PRED_PICKUPS', 'AM_PRED_PICKUPS', 'MD_PRED_PICKUPS', 'PM_PRED_PICKUPS', 'EV_PRED_PICKUPS', 'PRED_PICKUPS']:
    pickups[i + "_LOG"] = np.where(pickups[i] == 0, 0, np.log(pickups[i]))
pickups.head()

C:\Users\Transportlab\anaconda3\envs\cr2\Lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

,Unnamed: 0,origin,MEDIAN_AGE,LOW_INC_0,HI_INC_0,LOW_INC_1P,HI_INC_1P,P_BACH_25P,FOOD_EMP,RETAIL_EMP,...,MD_PRED_PICKUPS,PM_PRED_PICKUPS,EV_PRED_PICKUPS,PRED_PICKUPS,NT_PRED_PICKUPS_LOG,AM_PRED_PICKUPS_LOG,MD_PRED_PICKUPS_LOG,PM_PRED_PICKUPS_LOG,EV_PRED_PICKUPS_LOG,PRED_PICKUPS_LOG
0,0,21067000101,31.0,520.0,0.0,1290.0,189.0,32.675045,1465,264,...,365.444593,275.623100,305.226973,1262.694147,5.302558,4.749699,5.901115,5.619034,5.721056,7.141003
1,1,21067000102,52.4,290.0,10.0,609.0,154.0,53.358925,569,48,...,131.453742,93.462526,119.158567,475.185060,4.380400,3.936525,4.878655,4.537561,4.780455,6.163704
2,2,21067000200,24.1,430.0,0.0,674.0,125.0,42.355890,143,120,...,66.553038,41.892050,39.597918,206.962951,3.302849,3.457261,4.197999,3.735096,3.678777,5.332540
3,3,21067000300,36.8,410.0,0.0,860.0,70.0,45.487365,9,50,...,35.541701,16.881148,14.645182,103.300312,2.237513,3.290723,3.570707,2.826197,2.684111,4.637640
4,4,21067000400,32.8,180.0,0.0,587.0,19.0,30.097087,23,38,...,31.660462,20.130312,14.106015,89.817110,1.885553,2.852458,3.455069,3.002227,2.646601,4.497775

In [118]:
pickups.columns

Index(['Unnamed: 0', 'origin', 'MEDIAN_AGE', 'LOW_INC_0', 'HI_INC_0',
       'LOW_INC_1P', 'HI_INC_1P', 'P_BACH_25P', 'FOOD_EMP', 'RETAIL_EMP',
       'OTHER_EMP', 'TOTAL_EMP_DEN', 'LOGSUM', 'AIR_F', 'TOR_F',
       'NT_PRED_PICKUPS', 'AM_PRED_PICKUPS', 'MD_PRED_PICKUPS',
       'PM_PRED_PICKUPS', 'EV_PRED_PICKUPS', 'PRED_PICKUPS',
       'NT_PRED_PICKUPS_LOG', 'AM_PRED_PICKUPS_LOG', 'MD_PRED_PICKUPS_LOG',
       'PM_PRED_PICKUPS_LOG', 'EV_PRED_PICKUPS_LOG', 'PRED_PICKUPS_LOG'],
      dtype='object')

In [122]:
pickups[['origin', 'AM_PRED_PICKUPS', 'NT_PRED_PICKUPS', 'MD_PRED_PICKUPS', 'PM_PRED_PICKUPS', 'EV_PRED_PICKUPS', 'PRED_PICKUPS',  'NT_PRED_PICKUPS_LOG', 'AM_PRED_PICKUPS_LOG', 'MD_PRED_PICKUPS_LOG','PM_PRED_PICKUPS_LOG', 'EV_PRED_PICKUPS_LOG', 'PRED_PICKUPS_LOG']].to_csv('Cleaned_Inputs/Intermediate/fayette_linear_pickups.csv')