In [261]:
### Load libraries
import pandas as pd
import numpy as np
import os

In [264]:
## Set working directory
os.chdir('E:/CR2/Repos/TNC-Demand-Model-Southeast/')

In [265]:
## Read in Dropoff Data
dropoffs = pd.read_csv('E:/CR2/Repos/TNC-Demand-Model-Southeast/Cleaned_Inputs/Intermediate/merged_fayette_data.csv')
dropoffs.head()

,Unnamed: 0,GEOID,MEDIAN_AGE,LOW_INC_0,HI_INC_0,LOW_INC_1P,HI_INC_1P,P_BACH_25P,FOOD_EMP,RETAIL_EMP,OTHER_EMP,TOTAL_EMP_DEN,LOGSUM,AIR_F,TOR_F
0,0,21067000101,31.0,520.0,0.0,1290.0,189.0,32.675045,1465,264,8581,20501.093657,0,0,0
1,1,21067000102,52.4,290.0,10.0,609.0,154.0,53.358925,569,48,1556,7136.288998,0,0,0
2,2,21067000200,24.1,430.0,0.0,674.0,125.0,42.355890,143,120,1032,2132.740448,0,0,0
3,3,21067000300,36.8,410.0,0.0,860.0,70.0,45.487365,9,50,119,425.735470,0,0,0
4,4,21067000400,32.8,180.0,0.0,587.0,19.0,30.097087,23,38,841,1970.292704,0,0,0

In [269]:
## Calculate Linear Model for Dropoffs
## Coefficients from Table 5.4
dropoffs['NT_PRED_DROPOFFS'] = 545*dropoffs['AIR_F'] + 0.07*dropoffs['FOOD_EMP'] + 0.00*dropoffs['OTHER_EMP'] + 0.28*dropoffs['HI_INC_0'] +  0.02*dropoffs['LOW_INC_0'] + 0.02*dropoffs['LOW_INC_1P'] + 0.00000454*dropoffs['HI_INC_1P']
dropoffs['AM_PRED_DROPOFFS'] = 616*dropoffs['AIR_F'] + 0.04*dropoffs['FOOD_EMP'] + 0.02*dropoffs['RETAIL_EMP'] + 0.001*dropoffs['OTHER_EMP'] + 0.29*dropoffs['HI_INC_0'] + 0.0000102*dropoffs['HI_INC_1P']
dropoffs['MD_PRED_DROPOFFS'] = 1501*dropoffs['AIR_F'] + 77*dropoffs["TOR_F"] + 0.20*dropoffs['FOOD_EMP'] + 0.08*dropoffs['RETAIL_EMP'] + 0.01*dropoffs['OTHER_EMP'] + 0.51*dropoffs['HI_INC_0'] + 0.01*dropoffs['LOW_INC_0'] + 0.01*dropoffs['LOW_INC_1P'] + 0.0000313*dropoffs['HI_INC_1P']
dropoffs['PM_PRED_DROPOFFS'] = 308*dropoffs['AIR_F'] + 56*dropoffs["TOR_F"] + 0.17*dropoffs['FOOD_EMP'] + 0.001*dropoffs['RETAIL_EMP'] + 0.00*dropoffs['OTHER_EMP'] + 0.4*dropoffs['HI_INC_0'] + 0.02*dropoffs['LOW_INC_0'] + 0.01*dropoffs['LOW_INC_1P'] + 0.00000658*dropoffs['HI_INC_1P']
dropoffs['EV_PRED_DROPOFFS'] = 62*dropoffs["TOR_F"] + 0.12*dropoffs['FOOD_EMP'] + 0.47*dropoffs['HI_INC_0'] + 0.02*dropoffs['LOW_INC_0'] + 0.02*dropoffs['LOW_INC_1P'] + 0.00000694*dropoffs['HI_INC_1P']
dropoffs.head()

,Unnamed: 0,GEOID,MEDIAN_AGE,LOW_INC_0,HI_INC_0,LOW_INC_1P,HI_INC_1P,P_BACH_25P,FOOD_EMP,RETAIL_EMP,OTHER_EMP,TOTAL_EMP_DEN,LOGSUM,AIR_F,TOR_F,NT_PRED_DROPOFFS,AM_PRED_DROPOFFS,MD_PRED_DROPOFFS,PM_PRED_DROPOFFS,EV_PRED_DROPOFFS
0,0,21067000101,31.0,520.0,0.0,1290.0,189.0,32.675045,1465,264,8581,20501.093657,0,0,0,138.750858,72.462928,418.035916,272.615244,212.001312
1,1,21067000102,52.4,290.0,10.0,609.0,154.0,53.358925,569,48,1556,7136.288998,0,0,0,60.610699,28.177571,147.294820,112.669013,90.961069
2,2,21067000200,24.1,430.0,0.0,674.0,125.0,42.355890,143,120,1032,2132.740448,0,0,0,32.090568,9.153275,59.563913,39.770823,39.240867
3,3,21067000300,36.8,410.0,0.0,860.0,70.0,45.487365,9,50,119,425.735470,0,0,0,26.030318,1.479714,19.692191,18.380461,26.480486
4,4,21067000400,32.8,180.0,0.0,587.0,19.0,30.097087,23,38,841,1970.292704,0,0,0,16.950086,2.521194,23.720595,13.418125,18.100132

In [272]:
### Rename dropoffs GEOID column to destination
dropoffs = dropoffs.rename(columns={"GEOID": "destination"})

In [273]:
## Read in utitlity/probability/logsum data
logsum = pd.read_csv('Cleaned_Inputs/Intermediate/mode_choice_utility_output.csv')
logsum = logsum[['origin', 'destination', 'distance_miles', 'mode_logsum_airport', 'mode_logsum_no_airport']]
logsum.head()

,origin,destination,distance_miles,mode_logsum_airport,mode_logsum_no_airport
0,21067003802,21067004007,20.158829,-0.000000,-8.175461
1,21067004007,21067003802,24.871705,-0.000000,-8.254882
2,21067004007,21067003701,22.877503,-0.000000,-8.618743
3,21067003701,21067004007,22.608280,-0.000000,-8.351601
4,21067004207,21067003918,19.840966,-7.539189,0.000000

In [276]:
### Merge utility and dropoffs data together
df = pd.merge(logsum, dropoffs, left_on = ['destination'], right_on = ['destination'])
df.head()

,origin,destination,distance_miles,mode_logsum_airport,mode_logsum_no_airport,Unnamed: 0,MEDIAN_AGE,LOW_INC_0,HI_INC_0,LOW_INC_1P,...,OTHER_EMP,TOTAL_EMP_DEN,LOGSUM,AIR_F,TOR_F,NT_PRED_DROPOFFS,AM_PRED_DROPOFFS,MD_PRED_DROPOFFS,PM_PRED_DROPOFFS,EV_PRED_DROPOFFS
0,21067003802,21067004007,20.158829,-0.000000,-8.175461,70,50.1,10.0,0.0,432.0,...,350,10.112343,0,0,0,8.980994,1.612234,13.046855,4.920441,9.081520
1,21067004007,21067003802,24.871705,-0.000000,-8.254882,51,41.5,0.0,0.0,503.0,...,1775,40.865849,0,0,0,33.581044,16.177346,93.827199,62.199513,50.381596
2,21067004007,21067003701,22.877503,-0.000000,-8.618743,47,42.9,0.0,0.0,287.0,...,1595,55.011505,0,0,0,17.290885,8.476989,52.946103,30.935283,25.541353
3,21067003701,21067004007,22.608280,-0.000000,-8.351601,70,50.1,10.0,0.0,432.0,...,350,10.112343,0,0,0,8.980994,1.612234,13.046855,4.920441,9.081520
4,21067004207,21067003918,19.840966,-7.539189,0.000000,65,46.7,35.0,0.0,619.0,...,3725,66.423282,0,0,0,19.662043,7.889590,64.204085,22.892961,24.363123

In [277]:
### Add dummy variables for different flaggers
df['tourist'] = 0
df['airport'] = np.where(df['destination'] == 21067004207, 1, 0)
df['internal'] = np.where(df['origin'] == df['destination'], 1, 0)
df.head(10)

,origin,destination,distance_miles,mode_logsum_airport,mode_logsum_no_airport,Unnamed: 0,MEDIAN_AGE,LOW_INC_0,HI_INC_0,LOW_INC_1P,...,AIR_F,TOR_F,NT_PRED_DROPOFFS,AM_PRED_DROPOFFS,MD_PRED_DROPOFFS,PM_PRED_DROPOFFS,EV_PRED_DROPOFFS,tourist,airport,internal
0,21067003802,21067004007,20.158829,-0.000000,-8.175461,70,50.1,10.0,0.0,432.0,...,0,0,8.980994,1.612234,13.046855,4.920441,9.081520,0,0,0
1,21067004007,21067003802,24.871705,-0.000000,-8.254882,51,41.5,0.0,0.0,503.0,...,0,0,33.581044,16.177346,93.827199,62.199513,50.381596,0,0,0
2,21067004007,21067003701,22.877503,-0.000000,-8.618743,47,42.9,0.0,0.0,287.0,...,0,0,17.290885,8.476989,52.946103,30.935283,25.541353,0,0,0
3,21067003701,21067004007,22.608280,-0.000000,-8.351601,70,50.1,10.0,0.0,432.0,...,0,0,8.980994,1.612234,13.046855,4.920441,9.081520,0,0,0
4,21067004207,21067003918,19.840966,-7.539189,0.000000,65,46.7,35.0,0.0,619.0,...,0,0,19.662043,7.889590,64.204085,22.892961,24.363123,0,0,0
5,21067003918,21067004207,18.640822,-7.742272,0.000000,78,49.1,0.0,0.0,620.0,...,1,0,570.913768,626.042466,1561.165979,347.080461,35.565760,0,1,0
6,21067003703,21067004007,24.226410,-0.000000,-7.947565,70,50.1,10.0,0.0,432.0,...,0,0,8.980994,1.612234,13.046855,4.920441,9.081520,0,0,0
7,21067004007,21067003703,24.727255,-0.000000,-8.085538,49,35.4,4.0,0.0,1470.0,...,0,0,30.392520,3.350661,44.527372,17.002652,31.043852,0,0,0
8,21067003802,21067004006,17.095971,-0.000000,-7.619520,69,48.0,0.0,0.0,125.0,...,0,0,2.501271,0.096856,2.198764,1.251842,2.501943,0,0,0
9,21067004006,21067003802,16.969217,-0.000000,-7.574434,51,41.5,0.0,0.0,503.0,...,0,0,33.581044,16.177346,93.827199,62.199513,50.381596,0,0,0

In [278]:
### Destination Choice Utility 
# Utility = Size Term + Utiliity
#df.head()
# Coefficients from Table 5.5
df['NT_UTILITY'] = 1*np.log(df['NT_PRED_DROPOFFS']) - 0.07*df['internal'] + 0.49*df['tourist'] - 2.81*df['airport'] + 0*df['mode_logsum_airport'] + 1*df['mode_logsum_no_airport']
df['AM_UTILITY'] = 1*np.log(df['AM_PRED_DROPOFFS']) - 0.8*df['internal'] + 0.47*df['tourist'] - 2.53*df['airport'] + 0.15*df['mode_logsum_airport'] + 0.85*df['mode_logsum_no_airport']
df['MD_UTILITY'] = 1*np.log(df['MD_PRED_DROPOFFS']) - 1.22*df['internal'] + 0.48*df['tourist'] - 3.19*df['airport'] + 0.08*df['mode_logsum_airport'] + 0.96*df['mode_logsum_no_airport']
df['PM_UTILITY'] = 1*np.log(df['PM_PRED_DROPOFFS']) - 1.20*df['internal'] + 0.23*df['tourist'] - 2.30*df['airport'] + 0.12*df['mode_logsum_airport'] + 1*df['mode_logsum_no_airport']
df['EV_UTILITY'] = 1*np.log(df['EV_PRED_DROPOFFS']) - 1.06*df['internal'] + 0.3*df['tourist'] - 2.53*df['airport'] + 0.16*df['mode_logsum_airport'] + 0.91*df['mode_logsum_no_airport']
df.head()

,origin,destination,distance_miles,mode_logsum_airport,mode_logsum_no_airport,Unnamed: 0,MEDIAN_AGE,LOW_INC_0,HI_INC_0,LOW_INC_1P,...,PM_PRED_DROPOFFS,EV_PRED_DROPOFFS,tourist,airport,internal,NT_UTILITY,AM_UTILITY,MD_UTILITY,PM_UTILITY,EV_UTILITY
0,21067003802,21067004007,20.158829,-0.000000,-8.175461,70,50.1,10.0,0.0,432.0,...,4.920441,9.081520,0,0,0,-5.980350,-6.471521,-5.279895,-6.582063,-5.233428
1,21067004007,21067003802,24.871705,-0.000000,-8.254882,51,41.5,0.0,0.0,503.0,...,62.199513,50.381596,0,0,0,-4.740920,-4.233038,-3.383232,-4.124535,-3.592317
2,21067004007,21067003701,22.877503,-0.000000,-8.618743,47,42.9,0.0,0.0,287.0,...,30.935283,25.541353,0,0,0,-5.768563,-5.188576,-4.304719,-5.186845,-4.602757
3,21067003701,21067004007,22.608280,-0.000000,-8.351601,70,50.1,10.0,0.0,432.0,...,4.920441,9.081520,0,0,0,-6.156490,-6.621240,-5.448990,-6.758203,-5.393715
4,21067004207,21067003918,19.840966,-7.539189,0.000000,65,46.7,35.0,0.0,619.0,...,22.892961,24.363123,0,0,0,2.978690,0.934666,3.558932,2.226127,1.986800

In [279]:
time_of_day = ['NT', 'AM', 'MD', 'PM', 'EV']
for time in time_of_day:
    df[time + '_EXP_UTILITY'] = np.exp(df[time + '_UTILITY'])
df.head()

,origin,destination,distance_miles,mode_logsum_airport,mode_logsum_no_airport,Unnamed: 0,MEDIAN_AGE,LOW_INC_0,HI_INC_0,LOW_INC_1P,...,NT_UTILITY,AM_UTILITY,MD_UTILITY,PM_UTILITY,EV_UTILITY,NT_EXP_UTILITY,AM_EXP_UTILITY,MD_EXP_UTILITY,PM_EXP_UTILITY,EV_EXP_UTILITY
0,21067003802,21067004007,20.158829,-0.000000,-8.175461,70,50.1,10.0,0.0,432.0,...,-5.980350,-6.471521,-5.279895,-6.582063,-5.233428,0.002528,0.001547,0.005093,0.001385,0.005335
1,21067004007,21067003802,24.871705,-0.000000,-8.254882,51,41.5,0.0,0.0,503.0,...,-4.740920,-4.233038,-3.383232,-4.124535,-3.592317,0.008731,0.014508,0.033938,0.016171,0.027534
2,21067004007,21067003701,22.877503,-0.000000,-8.618743,47,42.9,0.0,0.0,287.0,...,-5.768563,-5.188576,-4.304719,-5.186845,-4.602757,0.003124,0.005580,0.013505,0.005590,0.010024
3,21067003701,21067004007,22.608280,-0.000000,-8.351601,70,50.1,10.0,0.0,432.0,...,-6.156490,-6.621240,-5.448990,-6.758203,-5.393715,0.002120,0.001332,0.004301,0.001161,0.004545
4,21067004207,21067003918,19.840966,-7.539189,0.000000,65,46.7,35.0,0.0,619.0,...,2.978690,0.934666,3.558932,2.226127,1.986800,19.662043,2.546362,35.125652,9.263915,7.292164

In [283]:
## Get sums of utilities by TOD and Logsums
df["EXP_UTILITY_SUM"] =  df["NT_EXP_UTILITY"] + df["AM_EXP_UTILITY"] + df["MD_EXP_UTILITY"] + df["PM_EXP_UTILITY"] + df["EV_EXP_UTILITY"]
df["dest_choice_logsum"] = np.log(df["EXP_UTILITY_SUM"])
df.head()

,origin,destination,distance_miles,mode_logsum_airport,mode_logsum_no_airport,Unnamed: 0,MEDIAN_AGE,LOW_INC_0,HI_INC_0,LOW_INC_1P,...,PM_EXP_UTILITY,EV_EXP_UTILITY,EXP_UTILITY_SUM,NT_PROB,AM_PROB,MD_PROB,PM_PROB,EV_PROB,PROB_SUM,dest_choice_logsum
0,21067003802,21067004007,20.158829,-0.000000,-8.175461,70,50.1,10.0,0.0,432.0,...,0.001385,0.005335,0.015888,0.159110,0.097361,0.320555,0.087172,0.335802,1.0,-4.142193
1,21067004007,21067003802,24.871705,-0.000000,-8.254882,51,41.5,0.0,0.0,503.0,...,0.016171,0.027534,0.100882,0.086543,0.143814,0.336409,0.160296,0.272938,1.0,-2.293804
2,21067004007,21067003701,22.877503,-0.000000,-8.618743,47,42.9,0.0,0.0,287.0,...,0.005590,0.010024,0.037823,0.082602,0.147529,0.357053,0.147785,0.265031,1.0,-3.274847
3,21067003701,21067004007,22.608280,-0.000000,-8.351601,70,50.1,10.0,0.0,432.0,...,0.001161,0.004545,0.013458,0.157498,0.098955,0.319549,0.086289,0.337710,1.0,-4.308146
4,21067004207,21067003918,19.840966,-7.539189,0.000000,65,46.7,35.0,0.0,619.0,...,9.263915,7.292164,73.890136,0.266098,0.034461,0.475377,0.125374,0.098689,1.0,4.302579

In [281]:
## Get probabilities
for time in time_of_day:
    df[time + "_PROB"] = df[time + "_EXP_UTILITY"] / df["EXP_UTILITY_SUM"]
df["PROB_SUM"] =  df["NT_PROB"] + df["AM_PROB"] + df["MD_PROB"] + df["PM_PROB"] + df["EV_PROB"]
df.head()

,origin,destination,distance_miles,mode_logsum_airport,mode_logsum_no_airport,Unnamed: 0,MEDIAN_AGE,LOW_INC_0,HI_INC_0,LOW_INC_1P,...,MD_EXP_UTILITY,PM_EXP_UTILITY,EV_EXP_UTILITY,EXP_UTILITY_SUM,NT_PROB,AM_PROB,MD_PROB,PM_PROB,EV_PROB,PROB_SUM
0,21067003802,21067004007,20.158829,-0.000000,-8.175461,70,50.1,10.0,0.0,432.0,...,0.005093,0.001385,0.005335,0.015888,0.159110,0.097361,0.320555,0.087172,0.335802,1.0
1,21067004007,21067003802,24.871705,-0.000000,-8.254882,51,41.5,0.0,0.0,503.0,...,0.033938,0.016171,0.027534,0.100882,0.086543,0.143814,0.336409,0.160296,0.272938,1.0
2,21067004007,21067003701,22.877503,-0.000000,-8.618743,47,42.9,0.0,0.0,287.0,...,0.013505,0.005590,0.010024,0.037823,0.082602,0.147529,0.357053,0.147785,0.265031,1.0
3,21067003701,21067004007,22.608280,-0.000000,-8.351601,70,50.1,10.0,0.0,432.0,...,0.004301,0.001161,0.004545,0.013458,0.157498,0.098955,0.319549,0.086289,0.337710,1.0
4,21067004207,21067003918,19.840966,-7.539189,0.000000,65,46.7,35.0,0.0,619.0,...,35.125652,9.263915,7.292164,73.890136,0.266098,0.034461,0.475377,0.125374,0.098689,1.0

In [285]:
### Write to CSV for use in Negative Binomial Model
dest_choice = df[['origin', 'destination', 'dest_choice_logsum', 'NT_PROB', 'AM_PROB', 'MD_PROB', 'PM_PROB', 'EV_PROB', 'airport', 'tourist', 'MEDIAN_AGE', 'P_BACH_25P', 'TOTAL_EMP_DEN']]
dest_choice.to_csv('Cleaned_Inputs/Intermediate/dest_choice_prob_logsum.csv')